/*------------------------------------*\
    #LINK
\*------------------------------------*/

a {
  text-decoration: none;
}

a[role="link"] {
  border-bottom: 0.0625rem dotted $link-color;
  color: $link-color;

  &:visited {
    border-bottom-color: $link-visited-color;
    color: $link-visited-color;
  }

  &:hover,
  &:focus {
    border-bottom-color: $link-hover-color;
    border-bottom-style: solid;
    color: $link-hover-color;
  }
}

.inverse {
  color: $white;

  a {
    color: rgba(255,255,255,.8);

    &:visited {
      color: rgba(255,255,255,.8);
    }

    &:hover,
    &:focus {
      background-color: rgba(0,0,0, .15);
      color: $white;
    }
  }

  a[role="link"] {
    border-bottom: .0625rem solid rgba(255,255,255,.8);

    &:visited {
      border-bottom-color: rgba(255,255,255,.8);
    }

    &:hover,
    &:focus {
      border-bottom-color: $white;
    }
  }

  .title--section::after {
    background-color: rgba(255,255,255,.8);
  }
}
