// Lists
// -------------------------

// Unordered and Ordered lists
ul,
ol {
  @extend %typecsset-vertical-rhythm;
  @include typecsset-space(margin-left);
  list-style: none;
  margin-top: 0;
  margin-bottom: ($line-height-computed / 2);
  // always align left even when default is center
  text-align: left;

  ul,
  ol {
    margin-bottom: 0;
  }
}

li > ul,
li > ol {
  margin-bottom: 0;
}

// List options

// Unstyled keeps list items block level, just removes default browser padding and list-style
.list-unstyled {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

// Inline turns list items into inline-block
.list-inline {
  @extend .list-unstyled;
  margin-left: -5px;

  > li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
  }
}

.list-bare {
  list-style: none;
  margin: 0;
  padding: 0;
}

.list {
  list-style: square;
  margin: 0 0 1em;
  padding: 0 0 0 1.5em;

  li {
    margin-bottom: 0.2em;
  }
}

@include mq($from: triple) {
  .list--centered {
    padding: 0;
    text-align: center;
    list-style-position: inside;
  }
}


// Description Lists
dl {
  margin-top: 0; // Remove browser default
  margin-bottom: $typecsset-base-line-height;
}
dt,
dd {
  line-height: $line-height-base;
  margin-left: 0; // Undo browser default
  margin-bottom: $typecsset-base-line-height/2;
}
dt {
  font-weight: bold;
}

// Horizontal description lists
//
// Defaults to being stacked without any of the below styles applied, until the
// grid breakpoint is reached (default of ~768px).
.dl-horizontal {
  dt {
    @extend %text-overflow;
    clear: left;
    float: left;
    width: 5em;
  }
  dd {
    @include clearfix(); // Clear the floated `dt` if an empty `dd` is present
    margin-left: 5em;
  }
}
