<aside role="complementary">
  <div class="content">
    <span class="section-title"><b>Content</b> information</span>
    <p class="lead roomy">My name is Nic Marson. I'm from Portland, OR. I build websites.</p>
    <ul class="grid grid--gutters3x breakdown">
      <li class="grid-cell">
        <h6 class="breakdown-title">As a <b>Developer</b></h6>
        <p>I write adaptive code for dynamic environments.</p>
      </li>
      <li class="grid-cell">
        <h6 class="breakdown-title">As a <b>Designer</b></h6>
        <p>I design UI based on user research.</p>
      </li>
    </ul>
  </div>
</aside>