---
layout: 00-default
parent: portfolio
slug: portfolio
class: portfolio portfolio-detail
---

<section class="row--two">
  <div class="group--one">
    <div class="block--bottom">
      <h1 class="title">{{ page.project }}</h1>
      <p class="byline">
        {{ page.date | date: "%Y" }}
        {% if page.website %} | <a href="http://{{ page.website }}" class="external" role="link">{{ page.website }}</a>{% endif %}
        {% if page.client %} | {{ page.client }}{% endif %}
      </p>
      <p class="lead">{{ page.excerpt }}</p>
      <div class="popup--text popup--container">
        <input class="popup--input" id="{{ page.name }}-popup" type="checkbox">
        <div class="popup">{{ page.role-description }}</div>
        <label class="btn--danger popup--toggle" for="{{ page.name }}-popup">
          <span class="title--inline-block">My role</span>
          {{ page.role }}
        </label>
      </div>
    </div>
  </div>
  <div class="group--one flex--centered">
    <div class="flex__item--center">
      <div class="device">
        <div class="part frame"></div>
        <div class="part base"></div>
        <div class="part screen">
          <div class="img-fill screen-visible" style="background-image:url('/images/portfolio/{{ page.name }}/{{ page.name }}-browser.jpg')"></div>
          <div class="img-fill touch-visible" style="background-image:url('/images/portfolio/{{ page.name }}/{{ page.name }}-mobile.jpg')"></div>
        </div>
      </div>
    </div>
  </div>
</article>
<!-- Load Skills and Additional Screens -->
{{ content }}
<!-- Previous and Next Projects -->
<section class="row--two next-previous">

  {% if page.next_in_category != nil %}
  <div class="group--one">
    <figure id="{{page.next_in_category.name}}">
      <a class="previous zoom" href="{{page.next_in_category.url}}">
        <img class="zoom-image img-responsive" src="/images/portfolio/{{page.next_in_category.name}}/{{page.next_in_category.name}}-browser.jpg" alt="{{ page.next_in_category.title }} thumbnail">
        <figcaption class="center">
          <b class="h4">Previous project</b>
          <span class="title--header">
            <svg class="shape-arrow-left svg-inline">
              <use xlink:href="#shape-arrow-left"/>
            </svg>
            <i>{{ page.next_in_category.title }}</i>
          </span>
        </figcaption>
      </a>
    </figure>
  </div>
  {% endif %}

  {% if page.previous_in_category != nil %}
  <div class="group--one">
    <section id="{{page.previous_in_category.name}}" class="item">
      <a class="next" class="zoom" href="{{page.previous_in_category.url}}">
        <img src="/images/portfolio/{{page.previous_in_category.name}}/{{page.previous_in_category.name}}-browser.jpg" alt="{{ page.previous_in_category.title }} thumbnail">
        <figcaption>
          <b class="h4">Next project</b>
          <span class="title--header">
            <i>{{ page.previous_in_category.title }}</i>
            <svg class="shape-arrow-right svg-inline"><use xlink:href="#shape-arrow-right"/></svg>
          </span>
        </figcaption>
      </a>
    </section>
  </div>
  {% endif %}

</section>
