---
layout: 00-default
parent: portfolio
slug: portfolio
class: portfolio portfolio-detail
---

<section class="row row--two">
  <div class="group group--one">
    <div class="block--bottom">
      <h1 class="title">{{ page.project }}</h1>
      <p class="byline">
        {{ page.date | date: "%Y" }}
        {% if page.website %} | <a href="http://{{ page.website }}" class="external" role="link">{{ page.website }}</a>{% endif %}
        {% if page.client %} | {{ page.client }}{% endif %}
      </p>
      <p class="lead">{{ page.excerpt }}</p>
      <div class="popup--text popup--container">
        <input class="popup--input" id="{{ page.name }}-popup" type="checkbox">
        <div class="popup">{{ page.role-description }}</div>
        <label class="btn--danger popup--toggle" for="{{ page.name }}-popup">
          <span class="title--inline-block">My role</span>
          {{ page.role }}
        </label>
      </div>
    </div>
  </div>
  <div class="group group--one">
    <div class="device">
      <div class="part frame">
        <div class="part screen">
          <img class="screen-visible" src="/images/portfolio/{{ page.name }}/{{ page.name }}-browser.jpg">
          <img class="img-responsive touch-visible" src="/images/portfolio/{{ page.name }}/{{ page.name }}-mobile.jpg">
        </div>
      </div>
      <div class="part base"></div>
    </div>
  </div>
</section>
<!-- Load Skills and Additional Screens -->
{{ content }}
<!-- Previous and Next Projects -->
<section class="row row--two pagination project-pagination">

  {% if page.next_in_category != nil %}
  <div class="group group--one">
    <figure id="{{page.next_in_category.name}}" class="zoom">
      <a class="previous" href="{{page.next_in_category.url}}">
        <img class="zoom-image img-responsive" src="/images/portfolio/{{page.next_in_category.name}}/{{page.next_in_category.name}}-browser.jpg" alt="{{ page.next_in_category.title }} thumbnail">
        <figcaption class="zoom-container">
          <div class="center">
            <b class="h4"><svg class="shape-arrow-left svg-inline">
                <use xlink:href="#shape-arrow-left"/>
              </svg> Previous project</b>
            <span class="zoom-title">{{ page.next_in_category.title }}</i></span>
          </div>
        </figcaption>
      </a>
    </figure>
  </div>
  {% endif %}

  {% if page.previous_in_category != nil %}
  <div class="group group--one">
    <figure id="{{page.previous_in_category.name}}" class="zoom">
      <a class="next" href="{{page.previous_in_category.url}}">
        <img class="zoom-image img-responsive" src="/images/portfolio/{{page.previous_in_category.name}}/{{page.previous_in_category.name}}-browser.jpg" alt="{{ page.previous_in_category.title }} thumbnail">
        <figcaption class="zoom-container">
          <div class="center">
            <b class="h4 next-text">Next project <svg class="shape-arrow-right svg-inline"><use xlink:href="#shape-arrow-right"/></svg></b>
            <span class="zoom-title">{{ page.previous_in_category.title }}</span>
          </div>
        </figcaption>
      </a>
    </figure>
  </div>
  {% endif %}

</section>
