---
layout: 00-default
parent: portfolio
slug: portfolio
class: portfolio portfolio-detail
---

<div class="sidebar flexbox--row">
  <article>
    <section class="container--text">
      <h1 class="title">{{ page.project }}</h1>
      <p class="byline">
        {{ page.date | date: "%Y" }}
        {% if page.website %} | <a href="http://{{ page.website }}" class="external" role="link">{{ page.website }}</a>{% endif %}
        {% if page.client %} | {{ page.client }}{% endif %}
      </p>
      <p class="lead">{{ page.excerpt }}</p>
      <div class="popup--container">
        <input class="popup--input" id="{{ page.name }}-popup" type="checkbox">
        <label class="btn--danger popup--toggle" for="{{ page.name }}-popup">
          <span>
            <svg class="shape-plus svg-inline" viewBox="0 0 100 100">
              <use xlink:href="#shape-plus"/>
            </svg>
            My role
          </span>
          {{ page.role }}
        </label>
        <div class="popup">{{ page.role-description }}</div>
      </div>
    </section>
  </article>
  <aside>
    <div class="image">
      <img class="img-responsive" src="/images/portfolio/{{ page.name }}/{{ page.name }}-01.png">
    </div>
  </aside>
</div>
<!-- Load Skills and Additional Screens -->
{{ content }}
<!-- Previous and Next Projects -->
<section class="row portfolio__next-previous">
  <div class="col-half">
    {% if page.next_in_category != nil %}
      <section id="{{page.next_in_category.name}}" class="portfolio__item">
        <a class="portfolio__item__previous" href="{{page.next_in_category.url}}">
          <div class="portfolio__image">
            <!-- <img src="/images/portfolio/{{page.next_in_category.name}}/{{page.next_in_category.name}}-browser.jpg"> -->
            <img class="img-responsive" src="http://fillmurray.com/g/800/400" alt="{{ page.next_in_category.title }} thumbnail">
            <div class="center">
              <b class="h4">Previous project</b>
              <span class="portfolio__name">
                <svg class="shape-arrow-right svg-inline" viewBox="0 0 100 100">
                  <use xlink:href="#shape-arrow-right"/>
                </svg>
                <i>{{ page.next_in_category.title }}</i>
              </span>
            </div>
          </div>
        </a>
      </section>
    {% endif %}
  </div>
  <div class="col-half">
    {% if page.previous_in_category != nil %}
      <section id="{{page.previous_in_category.name}}" class="portfolio__item">
        <a class="portfolio__item__next" class="waves-effect waves-float" href="{{page.previous_in_category.url}}">
          <div class="portfolio__image">
            <!-- <img src="/images/portfolio/{{page.previous_in_category.name}}/{{page.previous_in_category.name}}-browser.jpg"> -->
            <img class="img-responsive" src="http://fillmurray.com/g/800/400" alt="{{ page.previous_in_category.title }} thumbnail">
            <div class="center">
              <b class="h4">Next project</b>
              <span class="portfolio__name">
                <i>{{ page.previous_in_category.title }}</i>
                <svg class="shape-arrow-right svg-inline" viewBox="0 0 100 100">
                  <use xlink:href="#shape-arrow-right"/>
                </svg>
              </span>
            </div>
          </div>
        </a>
      </section>
    {% endif %}
  </div>
</section>
