---
layout: default
parent: portfolio
---

<article class="post post-portfolio dark-bg" {% if page.color-dark %}style="background-color: #{{ page.color-dark }};"{% endif %}>
  <div class="image img-bg">
    <div class="img-src" style="background-image:url('{{ site.url }}/img/portfolio/{{ post.name }}/{{ post.name }}-01.{{ page.img-ext }}')"></div>
    <div class="img-src img-blurred" style="background-image:url('{{ site.url }}/img/portfolio/{{ post.name }}/{{ post.name }}-01-blur.{{ page.img-ext }}')"></div>
    <div class="img-bg-content" {% if page.color-light %}style="border-bottom: 7px solid #{{ page.color-light }};"{% endif %}>
      <div class="content">
        <h1 class="title" data-shadow-text="{{ page.title }}"><a href="{{ page.url }}" class="page__open">{{ page.title }}</a></h1>
        <p class="lead">{{ page.excerpt }}</p>
      </div>
    </div>
  </div>
  <footer>
    <div class="content">
      <p class="meta">{{ page.date | date: "%Y" }} {% if page.website %}<span class="divider">•</span> <a href="http://{{ page.website }}" class="external" role="link">{{ page.website }}</a>{% endif %} {% if page.client %}<span class="divider">•</span> {{ page.client }}{% endif %}</p>
      {{ content }}
    </div>
  </footer>
</article>
