<footer id="footer" class="footer">
  <div class="container">
    <div class="columns">
      <div class="column is-half">
        <h3 class="title has-underline">Get in touch</h3>
        <div class="content">
          <p>Let's work together, or simply chat about a project. I’m a man of few words, but I’m always looking forward to new opportunities,</p>
        </div>
      </div>
      <div class="column is-one-quarter">
        <h2 class="meta">Address</h2>
        <address>
          <p>3911 NE Killingsworth St., 5<br>
          Portland, OR 97211<br>
          United States<br>
          <a href="https://goo.gl/maps/b4uPJcUipnJ2">Google Maps</a></p>
        </address>
      </div>
      <div class="column is-one-quarter">
        <h2 class="meta">Contact information</h2>
        <address>
          <p>503-750-3301</p>
          <p><a href="mailto:nicmarson@gmail.co">nicmarson@gmail.com</a></p>
        </address>
        <div class="list-inline">
          <a class="list-item" href="https://github.com/mapleandpine" target="_blank"><svg class="icon">
            <use xlink:href="images/svg.svg#s-github">Github</use>
          </svg></a>
          <a class="list-item" href="http://twitter.com/nicmarson" target="_blank"><svg class="icon">
            <use xlink:href="images/svg.svg#s-twitter">Twitter</use>
          </svg></a>
          <a class="list-item" href="https://www.facebook.com/nicmarson" target="_blank"><svg class="icon">
            <use xlink:href="images/svg.svg#s-facebook">Facebook</use>
          </svg></a>
        </div>
      </div>
    </div>
  </div>
</footer>