<!DOCTYPE html>
<html class="no-js" lang="en-US" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#" itemscope itemtype="http://schema.org/Organization">
<head>
  <meta charset="utf-8">
  <meta content="{{ .Description }}" name="description">
  <meta content="index, follow" name="robots">
  <meta content="origin" name="referrer">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <title>{{ .Title }}{{ if not .IsHome }} &middot; {{ .Site.Title }}{{ end }}</title>
  <link rel="canonical" href="{{ .Permalink }}">
  {{ if .RSSLink }}<link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Title }}" />{{ end }}
  {{ partial "meta.html" . }}
  <link rel="stylesheet" href="{{ "css/main.css" | absURL }}" />
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,700,900|Playfair+Display:900" rel="stylesheet">
</head>
