<section class="hero is-animated">
  <div class="hero__media" data-video="">
    <img class="hero__image" alt="" src="images/hero/hero.png">
  </div>
  <div class="hero__content">
    <div class="hero__meta has-underline">Hey there,</div>
    <h1 class="hero__header">I'm Nic Marson</h1>
    <div class="hero__intro">
      <p>I have over 20 years of design experience, 16 years in Front-End development, 10 years in User-Experience design, and 2 years as a novelist. I make the complex simple by solving challenging problems.</p>
      <small>( I'm also a father, paddler, home builder, and artist. )</small>
    </div>
  </div>
</section>
