  <!-- Schema.org -->
  <meta content="{{ .Title }}" itemprop="name">
  <meta content="{{ .Description }}" itemprop="description">
  <meta content="{{ .Title }}" itemprop="url">
  <meta content="web design, web development, book, project, portland, pine, maple, craft" itemprop="keywords">
  <meta content="http://mapleandpine.design/assets/img/identity/media-circle_256x256.png" itemprop="image">
  <meta content="{{ .Title }}" itemprop="sourceOrganization">
  <meta content="en-US" itemprop="inLanguage">
  <!-- Twitter Card -->
  <meta name="twitter:title"       content="{{ .Title }}">
  <meta name="twitter:description" content="{{ .Description }}">
  <meta name="twitter:site"        content="@maple_and_pine">
  <meta name="twitter:url"         content="http://mapleandpine.design" />
  <meta name="twitter:image"       content="http://mapleandpine.design/assets/img/identity/media-circle_256x256.png">
  <meta name="twitter:card"        content="summary">
  <meta name="twitter:label1"      content="Services">
  <meta name="twitter:data1"       content="Web Development">
  <meta name="twitter:label2"      content="Location">
  <meta name="twitter:data2"       content="Portland, OR">
  <!-- OpenGraph -->
  <meta property="og:type"        content="website" />
  <meta property="og:locale"      content="en_US">
  <meta property="og:title"       content="{{ .Title }}" />
  <meta property="og:site_name"   content="{{ .Title }}">
  <meta property="og:description" content="{{ .Description }}" />
  <meta property="og:url"         content="http://mapleandpine.design" />
  <meta property="og:image"       content="http://mapleandpine.design/assets/img/identity/media-circle_256x256.png" />
  <meta property="fb:app_id"      content="1196296443727578">