{{ "<!-- Projects Modals -->" | safeHTML }}
{{ range .Site.Data.projects }}
  <div class="lity-hide" id="projectModal{{ .modalID }}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="my3">
      <h3 class="h2 modal-title">{{ .title  | markdownify }}</h3>
      <p class="modal-subtitle">{{ .subtitle | markdownify }}</p>
    </div>
    <div class="lity-image mb2">
      {{ $url := printf "images/projects/%s" .img }}
      <img src="{{ $url }}" alt="{{ .title  | markdownify }} home page">
    </div>
    {{ .description | markdownify }}
    <dl class="mb2">
      <dt>{{ with $.Site.Params.projects.modal.date }}{{ . }}{{ end }}</dt>
      <dd>{{ .date }}</dd>
      <dt>{{ with $.Site.Params.projects.modal.client }}{{ . | markdownify }}{{ end }}</dt>
      <dd><a href="{{ .clientLink }}">{{ .client }}</a></dd>
      <dt>{{ with $.Site.Params.projects.modal.category }}{{ . }}{{ end }}</dt>
      <dd>{{ .category  | markdownify }}</dd>
    </dl>
    <div class="clear"></div>
    <button type="button" class="button" aria-label="Close (Press escape to close)" data-lity-close=""><i class="fa fa-times"></i> {{ with $.Site.Params.projects.modal.buttonText }}{{ . }}{{ end }}</button>
  </div>
{{ end }}