/* config */
:root {
  --white: #fff;
  --black: #000;

  --primaryColor: #699;
  --secondaryColor: #d1ae45;
  --accentColor: #d34a2b;

  --bodyBackground: #fff;
  --modalBackground: #f5f5f5;
  --inverseBackground: #413f3b;
  --inverseMain: #d1ae45;
  --mainColor: #2b2b2b;
  --mainColorWeak: #6b6b6b;
  --linkColor: #111;
  --linkHover: #666;

  --fontSize: 1rem;
  --fontFamilyDefault: 'Source Sans Pro', sans-serif;
  --fontFamilyAccent: 'Spectral', serif;

  --headerHeightMobile: 50px;
  --headerHeightDesktop: 90px;
}

/* custom media queries */
@custom-media --r-maxS (max-width: 36em);
@custom-media --r-minS (min-width: 36.01em);

@custom-media --r-maxM (max-width: 56em);
@custom-media --r-minM (min-width: 56.01em);

@custom-media --r-maxL (max-width: 66em);
@custom-media --r-minL (min-width: 66.01em);

@custom-media --r-maxXL (max-width: 76em);
@custom-media --r-minXL (min-width: 76.01em);

/* USE: @media (--r-minS) { style: property; } */
