/* Footer */

.footer {
  background: var(--black);
  color: var(--white);
  display: flex;
  flex-wrap: wrap;
  line-height: 1.5;
  padding-bottom: 2rem;
  padding-top: 2rem;
  @media (--r-minS) {
    padding-bottom: 6rem;
    padding-top: 6rem;
  }
}

.footer p {
  margin-bottom: 0;
}

.footer_address {
  order: 3;
  width: 100%;
  @media (--r-minS) {
    order: 0;
    width: 50%;
  }
}
.footer_contact {
  display: none;
  @media (--r-minM) {
    display: block;
    order: 1;
    width: 25%;
  }
}

.footer_links {
  display: flex;
  margin-bottom: 2rem;
  order: 0;
  width: 100%;
  @media (--r-minS) {
    order: 1;
    width: 50%;
  };
  @media (--r-minM) {
    width: 25%;
  };
}

.footer_links ul {
  margin-bottom: 1rem;
  width: 50%;
}

.footer_social a {
  display: block;
  padding-left: 1.25rem;
  position: relative;
}

.footer_social svg {
  left: 0;
  position: absolute;
  top: 3px;
}

.copyright {
  color: lighten(var(--inverseMain), 10);
}
