/* Header */

.header {
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
  z-index: 10;
}

@media (--r-minM) {
  .header {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.header .level {
  height: 100px;
}

.header .level-item {
  font-size: 1.6rem;
}

.header .brand {
  color: var(--mainColor);
  font-size: 2.4rem;
  font-weight: 900;
}
