/* Header */

.header {
  border-top: 2px solid var(--dangerColor);
  padding: 1rem;
  width: 100%;
  z-index: 10;
}

.header .level {
  @media (--r-minM) {
    height: 5rem;
  }
}

.header .level-item {
  font-size: 1.6rem;
}

.header .brand {
  color: var(--mainColor);
  font-size: 2.4rem;
  font-weight: 900;
}

.pageHeader {
  margin-bottom: 3rem;
  padding: 3rem 0;
}

.pageList {
  padding: 3rem 0;
}

.pageList .current {
  color: var(--black);
  font-weight: 700;
}
