/* Projects */

.projectYear {
  padding: 3rem 2rem;

  @media (--r-minM) {
    padding-bottom: 6rem;
    padding-top: 6rem;
  }

  @media (--r-minL) {
    padding-bottom: 8rem;
    padding-top: 8rem;
  }
}

.projectYear__header {
  font-family: var(--fontFamilyAccent);
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 4rem;
  margin-top: -2rem;
}

.projectYear__list {
  margin-bottom: 1.5rem;
  padding: .1rem 0 .3rem;
}

.projectThumb {
  display: block;
  margin-bottom: 1rem;
}

.projectThumb img {
  filter: grayscale(100%);
  transition: filter .3s ease-in-out;
}

.projectThumb:hover img {
  filter: grayscale(0%);
}

.projectLink span {
  color: var(--mainColorWeak);
}
.projectLink--1 {
  color: var(--primaryColor);
}
.projectLink--2 {
  color: var(--secondaryColor);
}
.projectLink--3 {
  color: var(--dangerColor);
}

.projectThumb--1 {
  border-top: 2px solid var(--primaryColor);
}
.projectThumb--2 {
  border-top: 2px solid var(--secondaryColor);
}
.projectThumb--3 {
  border-top: 2px solid var(--dangerColor);
}

.agencyLink {
  color: var(--mainColorWeak);
  display: block;
}
