.background-size-full {
  background-color: #191918;
  background-position: center center;
  height: 100%;
  margin-bottom: 60px;
  margin-top: 0;
  max-height: 900px;
  max-width: 100%;
  overflow: hidden;
  position: relative;
}

.content {
  padding: 20px;

  @include breakpoint("medium") {
    margin: auto;
    max-width: 55rem;
    padding: 50px 0 30px;
  }
}

.content-list {
  padding: 0;
}

.about .content ul {
  margin-left: 0;
}

.article {
  width:500px;
  height: 2000px;
}

.section-title {
  font-family: $font-family-sans-serif;
  @include typecsset-font-size($typecsset-h5-size);
  font-weight: 700;
  text-transform: uppercase;
}

#intro {
  border-bottom: 7px solid $color-gray-dark;
  margin-bottom: 20px;
  padding-bottom: 20px;

  .image {
    @include breakpoint("medium") {
      flex: none;
      width: 33.3333%;
    }
  }
}

#history {
  border-bottom: 7px solid $color-gray-dark;
  margin-bottom: 20px;
  padding-bottom: 20px;

  tfoot a {
    margin-right: 1em;

    &:hover .icon {
      color: $color-blue;
    }
  }

  .year {
    width: 4em;
  }
}

#tidbits {
  font-size: 14px;
  font-weight: 700;

  @include breakpoint("medium") {
    border-left: 1px solid $color-gray-light;
    flex: none;
    padding-left: 20px;
    width: 33.3333%;
  }

  .tinyhouse {
    border-bottom: 1px solid $color-gray-light;
    padding: 105px 30px 20px 10px;
    position: relative;

    span {
      display: block;
      font-size: 20px;
      font-weight: 200;
      text-transform: uppercase;
    }

    .year {
      color: $color-blue;
      font-size: 30px;
      font-weight: 900;
      left: 10px;
      line-height: 1.2;
      position: absolute;
      top: 30px;
      width: 80px;
    }

    .typcn-home {
      font-size: 100px;
      line-height: 1;
      position: absolute;
      right: 5px;
      top: 0;
    }

    .typcn-home-outline {
      color: $color-blue;
      position: absolute;
      right: 48px;
      top: 88px;
    }
  }

  .bridgecity {
    background-image: url("../img/bridge.svg");
    background-position: 20px -20px;
    background-repeat: no-repeat;
    background-size: 160px auto;
    padding: 110px 10px 20px;
    text-align: center;
  }
}

#resources {

  h4 {
    @include typecsset-font-size($typecsset-h6-size);
    font-weight: 700;
  }
}
