.content {

  @include breakpoint("medium") {
    margin: auto;
    max-width: $content-width-medium;
    padding: 3.5rem 0 4rem;
  }

  @include breakpoint("large") {
    max-width: $content-width-large;
    padding: 5rem 0 6rem;
  }
}

.content__portfolio {
  padding: 2rem;

  @include breakpoint("medium") {
    padding: 3rem;
  }

  @include breakpoint("large") {
    padding: 4rem;
  }
}

#intro {
  margin-bottom: 2rem;

  @include breakpoint("medium") {
    margin-bottom: 3rem;

    .image {
      flex: none;
      width: 33.3333%;
    }
  }
}

#history {
  margin-bottom: 2rem;

  @include breakpoint("medium") {
    margin-bottom: 3rem;
  }

  tfoot a {
    margin-right: 1em;

    &:hover .icon {
      color: $color-blue;
    }
  }

  .year {
    width: 5em;
  }
}

#tidbits {
  font-size: 14px;
  font-weight: 700;

  @include breakpoint("medium") {
    flex: none;
    padding-left: 20px;
    width: 33.3333%;
  }

  ul {
    margin-left: 0;
  }
}

.tinyhouse {
  border-bottom: 1px solid $color-gray-light;
  padding: 105px 30px 20px 10px;
  position: relative;

  span {
    display: block;
    font-size: 20px;
    font-weight: 200;
    text-transform: uppercase;
  }

  .year {
    color: $color-blue;
    font-size: 30px;
    font-weight: 900;
    left: 10px;
    line-height: 1.2;
    position: absolute;
    top: 30px;
    width: 80px;
  }

  .typcn-home {
    font-size: 120px;
    line-height: 1;
    position: absolute;
    left: 140px;
    top: 0;

    @include breakpoint("medium") {
      display: none;
    }

    @include breakpoint("large") {
      display: inline-block;
    }
  }

  .typcn-home-outline {
    color: $color-blue;
    position: absolute;
    left: 193px;
    top: 96px;

    @include breakpoint("medium") {
      display: none;
    }

    @include breakpoint("large") {
      display: inline-block;
    }
  }
}

.bridgecity {
  background-image: url("../img/bridge.svg");
  background-position: center -20px;
  background-repeat: no-repeat;
  background-size: 160px auto;
  padding: 110px 10px 20px;
  text-align: center;
}