.content {
  padding: 20px;

  @include breakpoint("medium") {
    margin: auto;
    max-width: 55rem;
    padding-bottom: 30px;
    padding-top: 50px;
  }
}

.content-list {
  padding: 0;
}

.about .content ul {
  margin-left: 0;
}

#background {
  border-bottom: 7px solid $color-gray-dark;
  margin-bottom: 20px;
}

#history {

  h2 {
    @include typecsset-font-size($typecsset-h5-size);
    font-weight: 700;
    margin-bottom: 0;
    text-transform: uppercase;
  }

  tfoot a {
    color: inherit;
    margin-right: 1em;
    white-space: nowrap;

    &:hover .typcn {
      color: $color-blue;
    }
  }

  .year {
    width: 4em;
  }
}

#tidbits {
  font-size: 14px;
  font-weight: 700;

  a {
    color: $color-blue;
  }

  @include breakpoint("medium") {
    border-left: 1px solid $color-gray-light;
    flex: 0 0 auto;
    padding-left: 20px;
    width: 220px;
  }

  .tinyhouse {
    border-bottom: 1px solid $color-gray-light;
    padding: 105px 30px 20px 10px;
    position: relative;

    span {
      display: block;
      font-size: 20px;
      font-weight: 200;
      text-transform: uppercase;
    }

    .year {
      color: $color-blue;
      font-size: 30px;
      font-weight: 900;
      left: 10px;
      line-height: 1.2;
      position: absolute;
      top: 30px;
      width: 80px;
    }

    .typcn-home {
      font-size: 100px;
      line-height: 1;
      position: absolute;
      right: 5px;
      top: 0;
    }

    .typcn-home-outline {
      color: $color-blue;
      position: absolute;
      right: 48px;
      top: 88px;
    }
  }

  .bridgecity {
    background-image: url("../img/bridge.svg");
    background-position: 20px -20px;
    background-repeat: no-repeat;
    background-size: 160px auto;
    padding: 110px 10px 20px;
    text-align: center;
  }
}

#resources {
  border-left: 1px solid $color-gray-light;
  padding-left: 20px;

  h3 {
    @include typecsset-font-size($typecsset-h5-size);
    font-weight: 700;
    text-transform: uppercase;
  }

  h4 {
    @include typecsset-font-size($typecsset-h6-size);
    font-weight: 700;
    margin-bottom: 1rem;
  }
}
