.footer {

  .content {
    @include breakpoint("medium") {
      padding: 0 25px;
    }
  }

  .copyright {
    font-family: $font-family-sans-serif;
    font-size: .85em;
    font-weight: 200;
  }
}
