.footer {
  background: $color-gray-dark;
  color: $bg-color;
  font-family: $font-family-sans-serif;
  text-align: center;

  a {
    color: #FFF;
    opacity: .8;
    @extend %transition-fast;

    &:hover,
    &:focus {
      color: $color-yellow;
      opacity: 1;
    }
  }

  .content {
    padding: 3rem;
  }

  .name {
    font-size: 4rem;
    font-weight: 200;

    b {
      font-weight: 700;
    }
  }

  .byline {
    color: $color-gray-light;
    font-size: 1.2rem;
    padding: 1rem 0;

    h6 {
      font-size: 2rem;
    }
  }

  .icon {
    background-color: $color-yellow;
    border-radius: 100%;
    color: #FFF;
    content: "";
    display: inline-block;
    font-size: 52px;
    height: 80px;
    margin-bottom: 10px;
    position: relative;
    width: 80px;

    @include breakpoint("large") {
      font-size: 72px;
      height: 100px;
      width: 100px;
    }

    &:before {
      left: 14px;
      position: absolute;
      top: 0;

      @include breakpoint("large") {
        left: 15px;
        position: absolute;
        top: -6px;
      }
    }
  }

  .automator .icon:before {
    left: 14px;
    top: 0;

    @include breakpoint("large") {
      left: 13px;
      top: -4px;
    }
  }

  .social a {
    display: inline-block;
    font-size: 3em;
    margin: 0 .5em;
  }

  .credit {
    color: $color-yellow;
    display: block;
    font-size: 0.85em;
    font-weight: 200;
    margin: 0;
    padding: 20px;

    @include breakpoint("large") {
      padding: 1.5rem 30px;
    }
  }
}
