@mixin eq($state) {
  [data-eq-state="#{$state}"] & {
    @content;
  }
}

.cf,
.group,
.row {
  @include clearfix;
}

[class^="col-"] {
  float: left;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  max-width: 100%;
}

.col-one-third {
  width: calc(100% / 3 - 3rem);
}
.col-half {
  width: calc(100% / 2 - 3rem);
}
.col-two-thirds {
  width: calc(100% / 1.5 - 3rem);
}
.col-full {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}
