.site-header {
  background-color: $color-gray-dark;
  font-size: 16px;
  height: $site-header-height;
  left: 0;
  line-height: 32px;
  padding-left: 5px;
  padding-top: 8px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;

  &.background--light {
    .nav-toggle {
      border-color: rgba(0,0,0,.75);
      color: $color-gray-dark;

      span {
        background-color: rgba(0,0,0,.8);

        &:before,
        &:after {
          background-color: rgba(0,0,0,.8);
        }
      }
    }
  }

  * {
    white-space: nowrap;
  }

  a,
  .name {
    display: inline-block;
    font-weight: 300;
    margin-left: 5px;
    padding: 0 10px 0 18px;
  }

  a {
    text-transform: capitalize;
  }

  .page-title {
    color: #FFF;
    display: inline-block;
    font-family: $font-family-sans-serif;
    font-size: inherit;
    font-weight: 300;
    margin: 0 70px 0 5px;
  }

  .site-nav-toggle {
    left: 10px;
    top: 10px;

    @include breakpoint("medium") {
      left: 20px;
      top: 20px;
    }
  }

  .page-nav-toggle {
    right: 0;
    top: 8px;
  }
}

.home .site-header {
  background-color: transparent;
  border-top: 6px solid $color-gray-dark;

  .site-nav-toggle {
    left: 10px;
    top: 4px;

    @include breakpoint("medium") {
      left: 20px;
      top: 14px;
    }
  }
}

.screen-scroll .site-header {
  background-color: rgba(0,0,0,.1);
}

.site-nav-open .site-header .nav-toggle {
  border-color: rgba(255,255,255,.75);
  color: #FFF;

  span {
    background-color: transparent;

    &:before,
    &:after {
      background-color: rgba(255,255,255,.8);
    }
  }
}

@include breakpoint("medium") {

  .site-header {
    a,
    .name {
      margin-left: 0;
      margin-right: 5px;
    }
  }
}
