%font-small {
  font-size: $font-size-small;
}

%font-large {
  font-size: $font-size-large;
}

%fat-skinny {
  font-weight: 200;

  b {
    font-weight: 800;
  }
}

%smallcaps {
  // depends on the font family.
  // some font-families don’t support small caps
  // or don’t provide them with their web font.
  font-variant: small-caps;
  text-transform: lowercase;
}

%text-grey-background {
  background-color: palette(grey, dark);
  border: 2px solid palette(grey, dark);
  border-radius: 2px;
  color: #FFF;
}

%text-grey-background-hover {
  background-color: palette(grey, darker);
  border-color: palette(grey, darker);
}

%text-white-border {
  border: 1px solid $white;
  border-radius: 2px;
  color: #FFF;
  font-weight: 700;
  text-align: center;
}

%text-block {
  display: block;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: .07em;
  margin: 0;
}

%text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
