// Showing and hiding content
//
// Force an element to be shown or hidden (<strong>including for screen readers</strong>) with the use of <code>.show</code> and <code>.hidden</code> classes. These classes use <code>!important</code> to avoid specificity conflicts, just like the <a href="#helper-classes-floats">quick floats</a>. They are only available for block level toggling. They can also be used as mixins.</p> <p><code>.hide</code> is available, but it does not always affect screen readers and is <strong>deprecated</strong> as of v3.0.1. Use <code>.hidden</code> or <code>.sr-only</code> instead.</p> <p>Furthermore, <code>.invisible</code> can be used to toggle only the visibility of an element, meaning its <code>display</code> is not modified and the element can still affect the flow of the document.
//
// .hidden     - Hide content with display none
// .show       - Show content
// .invisible  - Hide content with visibility hidden
// .sr-only    - Screen reader content only
// .text-hide  - Hide text for image replacement
//
// Styleguide 1.11.5

// Note: Deprecated .hide in favor of .hidden or .sr-only (as appropriate) in v3.0.1
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.sr-only,
.visuallyhidden {
  position: absolute;
  width:1px;
  height:1px;
  padding:0;
  margin:-1px;
  overflow:hidden;
  clip:rect(0,0,0,0);
  border:0;
}


// Hide from screenreaders and browsers
//
// Credit: HTML5 Boilerplate

.hidden {
  display: none !important;
  visibility: hidden !important;
}

.light-bg {
  background-color: #FFF;
  color: $color-gray-dark;
}

.dark-bg {
  color: #FFF;

  a {
    color: hsl(204, 70%, 95%);
    text-shadow: 1px 1px 0 rgba(0,0,0, .2);

    &:hover,
    &:focus {
      color: #FFF;
      text-shadow: none;
    }

    &:visited {
      color: #FFF;
    }
  }

  a[role="link"] {
    border-bottom-color: hsl(204, 70%, 95%);

    &:hover,
    &:focus {
      border-bottom-color: #FFF;
    }

    &:visited {
      border-bottom-color: #FFF;
    }
  }
}