/*------------------------------------*\
    #ANIMATION
\*------------------------------------*/

@keyframes bounce {
  0%, 20%, 53%, 80%, 100% {
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transform: translate3d(0,0,0);
  }

  40%, 43% {
    transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    transform: translate3d(0,-4px,0);
  }
}

@keyframes pulse {
  0% {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }

  100% {
    transform: scale3d(1, 1, 1);
  }
}

@keyframes reverse-pulse {
  0% {
    transform: scale3d(1.05, 1.05, 1.05);
  }

  50% {
    transform: scale3d(1, 1, 1);
  }

  100% {
    transform: scale3d(1.05, 1.05, 1.05);
  }
}

@keyframes rotateInUpLeft {
  0% {
    transform-origin: left bottom;
    transform: rotate3d(0, 0, 1, 45deg);
    opacity: 0;
  }

  100% {
    transform-origin: left bottom;
    transform: none;
    opacity: 1;
  }
}

/* SLIDE-DOWN */
@keyframes aniload { from {transform:translate(0px, -40px)} to {transform:translate(0px, 0px)}}

@keyframes menuload { from {transform:translate(0px, 0px)} to {transform:translate(25px, 0px)}}

/* SLIDE-UP */
@keyframes upload { from {transform:translate(0px, 40px)} to {transform:translate(0px, 0px)}}

/* SLIDE-UP */
@keyframes zoom { from {transform:scale(1.2,1.2)} to {transform:scale(1,1)}}

/* SLIDE-OVER */
@keyframes sideload { from {transform:translate(-30px, 0px)} to {transform:translate(0px, 0px)}}

@keyframes body-movement {
  0%   {
    transform: rotate(0deg) translate(0px, 0px);
  }
  20% {
    transform: rotate(.5deg) translate(2px, 5px);
  }
  35% {
    transform: rotate(.2deg) translate(-2px, -2px);
  }
  50% {
    transform: rotate(0deg) translate(2px, 3px);
  }
  65% {
    transform: rotate(-.5deg) translate(0px, 5px);
  }
  80% {
    transform: rotate(-1.25deg) translate(-3px, 2px);
  }
  100% {
    transform: rotate(0deg) translate(0px, 0px);
  }
}

