.btn {
  border: 0 none;
  border-radius: $border-radius-base;
  box-sizing: content-box;
  cursor: pointer;
  display: inline-block;
  line-height: normal;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  transition: all 0.2s ease;
  user-select: none;
  white-space: nowrap;

  @include mq($from: tablet) {
    max-width: 99%;
  }

  // Button states
  &:focus {
    outline: thin dotted #666;
    text-decoration:none;
  }

  &:hover, &:active, &:focus {
    text-decoration:none; // override any link default styles
  }
}

.btn--default {
  @extend .btn;
}

.btn--danger {
  @extend .btn;
  background-color: palette(red);
  color: $white;
  padding: 1em 1.5em;

  &:hover, &:active, &:focus {
    background-color: palette(red, dark);
  }

  svg {
    fill: $white;
  }
}

.btn--block {
  @extend .btn;
  display: block;
}

.btn--toggle {
  @extend .btn;
}
