.btn {
  border: 0 none;
  border-radius: r(default);
  box-sizing: content-box;
  cursor: pointer;
  display: inline-block;
  line-height: normal;
  overflow: hidden;
  padding: 1em 1.5em;
  position: relative;
  text-decoration: none;
  @extend %transition-fast;
  user-select: none;
  white-space: nowrap;

  @include mq($from: double) {
    max-width: 99%;
  }

  // Button states
  &:focus {
    outline: thin dotted #666;
    text-decoration:none;
  }

  &:hover, &:active, &:focus {
    text-decoration:none; // override any link default styles
  }
}

.btn--default {
  @extend .btn;
  background-color: palette(grey, lighter);
  color: palette(grey, darker);

  &:hover, &:active, &:focus {
    background-color: palette(grey, darker);
    color: $white;
  }
}

.btn--danger {
  @extend .btn;
  background-color: palette(red);
  color: $white;

  &:hover, &:active, &:focus {
    background-color: palette(red, dark);
  }

  svg {
    fill: $white;
  }
}
