[class^="btn__"]:not(.disabled),
a[role="button"] {
  border: 0 none;
  box-sizing: content-box;
  cursor: pointer;
  display: inline-block;
  line-height: normal;
  overflow: hidden;
  text-decoration: none;
  transition: all 0.2s ease;
  user-select: none;
  white-space: nowrap;

  @include mq($from: tablet) {
    max-width: 99%;
  }

  // Button states
  &:focus {
    outline: thin dotted #666;
    text-decoration:none;
  }

  &:hover, &:active, &:focus {
    text-decoration:none; // override any link default styles
  }
}

.nav-toggle {
  @extend %transition-component;
  border: 2px solid;
  color: #FFF;
  cursor: pointer;
  display: block;
  height: 38px;
  outline: none;
  padding: 0;
  position: absolute;
  transition-property: background-color, opacity;
  width: 40px;

  @include mq($from: desktop) {
    opacity: .75;
  }

  span {
    background-color: rgba(255,255,255,.8);
    display: block;
    font-size: 0;
    height: 4px;
    left: 8px;
    margin-top: -2px;
    position: absolute;
    top: 50%;
    user-select: none;
    width: 20px;

    &:before,
    &:after {
      background-color: rgba(255,255,255,.8);
      content: '';
      height: 100%;
      left: 0;
      position: absolute;
      transition: transform .2s;
      width: 100%;
    }

    &:before {
      transform: translateY(-200%);
    }

    &:after {
      transform: translateY(200%);
    }
  }

  &:hover,
  &.active {
    opacity: 1;

    span:before {
      transform: translateY(-220%);
    }

    span:after {
      transform: translateY(220%);
    }
  }
}

.site-nav-open .nav-toggle {

  span {

    &:before {
      transform: translateY(0) rotate(45deg);
    }

    &:after {
      transform: translateY(0) rotate(-45deg);
    }
  }
}
