fieldset{
    padding: $base-spacing-unit;
}

button,
input,
select,
textarea {
  font-family: inherit;
  line-height: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

$text-fields: '.input-text, input[type="text"], input[type="email"], input[type="password"], input[type="search"], input[type="url"], input[type="number"], textarea';

#{$text-fields} {
  border: 1px solid $input-border-color;
  border-radius: r(default);
  box-shadow: 3px 3px 0 0 rgba(0, 0, 0, .1) inset;
  color: inherit;
  font-family: $control-font-family;
  outline: 0 none;
  padding: $padding-base;

  // Customize the `:focus` state to imitate native WebKit styles.
  &:focus {
    border-color: $input-focus-color;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba($input-focus-color, .6);
  }

  // Disabled and read-only inputs
  // Note: HTML5 says that controls under a fieldset > legend:first-child won't
  // be disabled if the fieldset is disabled. Due to implementation difficulty,
  // we don't honor that edge case; we style them as disabled anyway.
  &[disabled],
  &[readonly],
  fieldset[disabled] & {
    background-color: $input-bg-disabled;
    cursor: not-allowed;
  }
}

select {
    appearance: none;
    border: 1px solid $input-border-color;
    border-radius: 0;
    padding: $padding-small;
}


// == Group sets of form fields in a list, e.g. == //
// <ul class=form-fields>
//   <li>
//     <label />
//     <input />
//   </li>
//   <li>
//     <label />
//     <select />
//   </li>
//   <li>
//     <label />
//     <input />
//   </li>
// </ul>

form {

  .group {
    margin-bottom: 10px;
  }

  .group:last-child{
    margin-bottom: 0;
  }
}

label,
.label{
  display:block;
}
