// Headings
// -------------------------

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  color: $heading-color;
  font-family: $heading-font-family;
  font-kerning: normal;
  font-weight: $heading-weight;
  line-height: $heading-line-height;
  @extend %typecsset-vertical-rhythm;

  &:first-child {
    margin-top: 0;
  }
}

h1, .h1,
h2, .h2,
h3, .h3 {
  margin-top: 1.5rem;
}

h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: .75rem;
  margin-bottom: .75rem;
}

h1, .h1 { font-size: $font-size-h1; }
h2, .h2 { font-size: $font-size-h2; }
h3, .h3 { font-size: $font-size-h3; }
h4, .h4 { font-size: $font-size-h4; }
h5, .h5 { font-size: $font-size-h5; }
h6, .h6 { font-size: $font-size-h6; }

.title {
  color: palette(grey, darkest);
  font-size: $font-size-h1;
  font-weight: 900;

  @include mq($from: tablet) {
    font-size: $font-size-headline;
  }

  small {
    font-weight: normal;
    line-height: 1;
    color: inherit;
  }
}

.title--section {
  border-bottom: 1px solid palette(grey);
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: .07em;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  text-transform: uppercase;

  b {
    font-weight: 800;
  }

  small {
    color: inherit;
    font-size: .75rem;
    font-weight: normal;
  }
}

.title--overlay {
  border-bottom: 1px solid rgba(255,255,255,.1);
  color: $white;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: .07em;
  line-height: 1;
  margin-bottom: 1rem;
  margin-top: 0;
  padding-bottom: .75rem;
  padding-right: 3rem;

  b {
    font-weight: 800;
  }
}
