img {
  vertical-align: middle;
}

// Figures
//
// We reset this here because previously Normalize had no `figure` margins. This
// ensures we don't break anyone's use of the element.

figure {
  margin: 0;
}

// Responsive images (ensure images don't scale beyond their parents)
.img-responsive {
  @include img-responsive();
}

.img-circle {
  border-radius: 50%;
  overflow: hidden;
}

.img-cover {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
}

.img-fade {
  color: $color-gray;
  display: inline-block;
  font-size: 13px;
  font-style: italic;
  opacity: .75;
  position: relative;
  @extend %transition-fast;
  white-space: nowrap;

  span {
    display: block;
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: gray; /* IE6-9 */
    position: absolute;
    right: 0;
    top: 2px;
  }

  &:hover {
    opacity: 1;

    span {
      filter: none;
    }
  }
}

.linkedin {
  padding-right: 62px;

  span {
    @include imageReplace(54px);
    background-image: url("../img/LinkedIn_Logo.svg");
    background-position: 0 1px;
    background-size: 54px auto;
  }
}

.kippt {
  padding-right: 40px;

  span {
    @include imageReplace(32px);
    background-image: url("../img/kippt-logo.png");
    background-position: 0 2px;
    background-size: 32px auto;
  }
}

.twitter {
  padding-right: 60px;

  span {
    @include imageReplace(52px);
    background-image: url("../img/Twitter_logo.svg");
    background-position: 0 3px;
    background-size: 52px auto;
  }
}

.github {
  padding-right: 48px;

  span {
    @include imageReplace(40px);
    background-image: url("../img/GitHub_logo_2013.svg");
    background-position: 0 3px;
    background-size: 40px auto;
  }
}

// svg path {
//   fill: rgba(255,255,255,.75);
// }

.img-src {
  background-position: center top;
  background-size: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.img-blurred { opacity: 0; }

.img-bg {
  max-width: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
}

svg:not(:root) {
  overflow: hidden;
}

.img-link {
  float: left;
  height: 0;
  padding-top: 50%;
  position: relative;
  width: 50%;
}
