/*------------------------------------*\
    #LINK
\*------------------------------------*/

a {
  color: $link-color;
  text-decoration: none;

  &:visited {
    color: $link-visited-color;
  }

  &:hover,
  &:focus {
    color: $link-hover-color;
  }
}

a[role="link"] {
  border-bottom: 0.0625rem dotted $link-color;

  &:visited {
    border-bottom-color: $link-visited-color;
  }

  &:hover,
  &:focus {
    border-bottom-color: $link-hover-color;
    border-bottom-style: solid;
  }
}

.inverse {
  background-color: palette(grey, darkest);
  color: palette(grey, lightest);

  a {
    color: palette(grey);

    &:visited {
      color: palette(grey);
    }

    &:hover,
    &:focus {
      color: palette(grey, lightest);
    }
  }

  a[role="link"] {
    border-bottom: .0625rem solid palette(yellow, dark);
    color: palette(yellow, dark);

    &:visited {
      border-bottom-color: palette(yellow, dark);
      color: palette(yellow, dark);
    }

    &:hover,
    &:focus {
      border-bottom-color: palette(yellow);
      color: palette(yellow, light);
    }
  }

  &--white {
    color: $white;

    a {
      color: rgba(255,255,255,.8);

      &:visited {
        color: rgba(255,255,255,.8);
      }

      &:hover,
      &:focus {
        background-color: rgba(0,0,0, .15);
        color: $white;
      }
    }

    a[role="link"] {
      border-bottom: .0625rem solid rgba(255,255,255,.8);

      &:visited {
        border-bottom-color: rgba(255,255,255,.8);
      }

      &:hover,
      &:focus {
        border-bottom-color: $white;
      }
    }
  }
}
