/*------------------------------------*\
    #LINK
\*------------------------------------*/

a {
  color: $link-color;
  text-decoration: none;

  &:visited {
    color: $link-visited-color;
  }

  &:hover,
  &:focus {
    color: $link-hover-color;
  }
}

a[role="link"] {
  border-bottom: 0.0625rem dotted $link-color;

  &:visited {
    border-bottom-color: $link-visited-color;
  }

  &:hover,
  &:focus {
    border-bottom-color: $link-hover-color;
    border-bottom-style: solid;
  }
}
