/*------------------------------------*\
    #MISC
\*------------------------------------*/

// Horizontal rules
hr {
  border: 0;
  border-top: 1px solid $hr-border;
  margin-top:    $line-height-computed;
  margin-bottom: $line-height-computed;
}

abbr,
acronym,
blockquote,
code,
dir,
kbd,
listing,
plaintext,
q,
samp,
tt,
var,
xmp {
  // http://meyerweb.com/eric/thoughts/2012/12/17/where-to-avoid-css-hyphenation
  @include hyphens(none);
}

abbr {
  @include smallcaps();
  &:hover {
    cursor: help;
  }
}


// Emphasis & misc
// -------------------------
.fontface strong {
  font-weight: 700;
}

// Undo browser default styling
cite    { font-style: normal; }

mark {
  background-color: $state-warning-bg;
  padding: .2em;
}

.muted {
  color: $muted-color;
}

.byline {
  font-weight: 900;
  letter-spacing: .07em;
  margin-top: -.75rem;
  text-transform: uppercase;
}

// Abbreviations and acronyms
abbr[title],
// Add data-* attribute to help out our tooltip plugin, per https://github.com/twbs/bootstrap/issues/5257
abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted $abbr-border-color;
}
.initialism {
  font-size: 90%;
  text-transform: uppercase;
}

// Addresses
address {
  @extend %typecsset-vertical-rhythm;
  font-style: normal;
  line-height: $line-height-base;
  margin-bottom: $line-height-computed;
}
