/*------------------------------------*\
  #PARAGRAPHS
\*------------------------------------*/
p {
  @extend %typecsset-vertical-rhythm;

  @if $typecsset-indented-paragraphs == true {

    + p {
      @include typecsset-space(text-indent);
      margin-top: -$typecsset-magic-number;
      margin-top: -$typecsset-magic-ratio + rem;
    }
  }
}

.lead {
  font-family: $text-font-family;
  font-size: 1.15rem;
  font-weight: 200;
  line-height: 1.4;
  margin-bottom: 3rem;
  margin-top: 3rem;

  @include mq($from: desktop) {
    font-size: 1.5rem;
  }
}
