/*------------------------------------*\
  #PARAGRAPHS
\*------------------------------------*/
p {
  @extend %typecsset-vertical-rhythm;

  @if $typecsset-indented-paragraphs == true {

    + p {
      @include typecsset-space(text-indent);
      margin-top: -$typecsset-magic-number;
      margin-top: -$typecsset-magic-ratio + rem;
    }
  }
}

.lead {
  margin-bottom: 1.5rem;
  font-size: 1.15rem;
  font-weight: 200;
  line-height: 1.4;

  @include mq($from: tablet) {
    font-size: 1.5rem;
  }
}
