/*------------------------------------*\
  #PARAGRAPHS
\*------------------------------------*/
p {
  @extend %typecsset-vertical-rhythm;
  font-family: $text-font-family;

  @if $typecsset-indented-paragraphs == true {

    + p {
      @include typecsset-space(text-indent);
      margin-top: -$typecsset-magic-number;
      margin-top: -$typecsset-magic-ratio + rem;
    }
  }
}

.byline {
  @extend %smallcaps;
  color: $muted-color;
  font-family: $font-family-sans-serif;
  font-size: 1rem;
  font-weight: 900;
  letter-spacing: .07em;
  margin-top: -.75rem;
}

.lead {
  font-size: 18px;
  font-weight: 200;
  line-height: 1.4;
  margin-bottom: 2rem;
  margin-top: 2rem;


  @include mq($from: tablet) {
    font-size: 24px;
    margin-bottom: 3rem;
    margin-top: 3rem;
  }

  @include mq($from: desktop) {
    font-size: 1.5rem;
  }

  @include mq($from: cinema) {
    font-size: 1.5rem;
  }
}
