/*------------------------------------*\
    #TABLES
\*------------------------------------*/
/**
 * Crude table styles; tables are very difficult to keep on the baseline.
 */
 table {
   border-collapse: collapse;
   border-spacing: 0;
   max-width: 100%;
 }

 th {
   text-align: left;
 }

.table {
  @extend %typecsset-vertical-rhythm;
  border-collapse: collapse;
  border-spacing: 0;

  // Cells
  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td {
        padding: .5rem .5em .5rem 0;
      }
      > td {
        vertical-align: top;
      }
    }
  }

  // Bottom align for column headings
  > thead > tr > th {
    font-weight: 700;
    letter-spacing: .07em;
    text-transform: uppercase;
    vertical-align: bottom;
  }

  // Nesting
  .table {
    background-color: #FFF;
  }

  &--border {
    width: 100%;

    // Cells
    > thead,
    > tbody,
    > tfoot {
      > tr {
        > th,
        > td {
          padding: .5rem 1em .5rem 0;
        }
        > th {
          border-bottom: 2px solid palette(grey, lighter);
        }
        > td {
          border-bottom: 1px solid palette(grey, lighter);
        }
      }
    }
  }
}
