<nav role="navigation"><ul>
  <li><a href="/index.html" {% if page.slug == "home" %} class="active"{% endif %}>Home</a></li>
  <li><a href="/about.html" {% if page.slug == "about" %} class="active"{% endif %}>About</a></li>
  <li><a href="/portfolio.html" {% if page.slug == "portfolio" %} class="active"{% endif %}>Portfolio</a></li>
  <!-- <li><a href="/resources.html" {% if page.slug == "resources" %} class="active"{% endif %}>Resources</a></li>
  <li><a href="/blog.html" {% if page.slug == "blog" %} class="active"{% endif %}>Blog</a></li> -->
  <li>
    <a class="toggle toggle--connect">
      <svg viewBox="0 0 100 100" class="shape-bullhorn">
        <use xlink:href="#shape-bullhorn"></use>
      </svg>
    </a>
  </li>
</ul></nav>
