<div class="collapse" id="site-nav-collapse">
  <nav role="navigation" class="site-nav page-links">
    <h3>Pages</h3>
    <a href="/index.html" {% if page.slug == "home" %} class="active"{% endif %}>Home</a>
    <a href="/about.html" {% if page.slug == "about" %} class="active"{% endif %}>About</a>
    <a href="/portfolio.html" {% if page.slug == "portfolio" %} class="active"{% endif %}>Portfolio</a>
    <a href="/blog.html" {% if page.slug == "blog" %} class="active"{% endif %}>Blog</a>
    <a href="/resources.html" {% if page.slug == "resources" %} class="active"{% endif %}>Resources</a>
  </nav>
  <nav class="site-nav social-links">
    <h3>Social</h3>
    <a href="mailto:nicmarson@gmail.com" class="social tooltip-right">
      <span>Email <small class="tooltip">nicmarson@gmail.com</small></span>
      <i class="icon typcn typcn-mail"></i>
    </a>
    <a href="http://github.com/nicmarson/" class="social tooltip-right">
      <span>Github <small class="tooltip">github.com/nicmarson</small></span>
      <i class="icon typcn typcn-social-github"></i>
    </a>
    <a href="http://twitter.com/nicmarson/" class="social tooltip-right">
      <span>Twitter <small class="tooltip">twitter.com/nicmarson</small></span>
      <i class="icon typcn typcn-social-twitter"></i>
    </a>
    <a href="http://www.linkedin.com/in/nicmarson" class="social tooltip-right">
      <span>LinkedIn <small class="tooltip">linkedin.com/in/nicmarson</small></span>
      <i class="icon typcn typcn-social-linkedin"></i>
    </a>
    <a href="http://www.facebook.com/nicmarson" class="social tooltip-right">
      <span>Facebook <small class="tooltip">facebook.com/nicmarson</small></span>
      <i class="icon typcn typcn-social-facebook"></i>
    </a>
  </nav>
</div>