// Centerer
// Used to center an item in a container

@mixin centerer($position: absolute, $direction: both) {
  position: $position;
  transform-style: preserve-3d;

  @if $direction == horizontal {
    left: 50%;
    transform: translateX(-50%);
  }

  @if $direction == vertical {
    top: 50%;
    transform: translateY(-50%);
  }

  @if $direction == both {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
