<footer id="footer" role="contentinfo">
  <div class="nav block--intro">{% include 02-organisms/00-global/02-connect.html %}</div>
  <div class="siteinfo">
    <p class="copyright">Copyright &copy; 2014 <span class="name">Nic <b>Marson</b></span></p>
    <p class="sitecontact">Connect on <a href="http://www.linkedin.com/in/nicmarson" class="social linkedin" role="link">LinkedIn</a> or follow on <a href="http://twitter.com/nicmarson/" class="social twitter" role="link">Twitter</a>.</p>
  </div>
</footer>
