<h2 class="title">Connect</h2>
<h3 class="title--block">Contact</h3>
<ul class="connect">
  <a href="tel:5037503301" class="phone">
    Phone
    <small class="tooltip--top">
      <svg class="shape-phone">
        <use xlink:href="#shape-phone"></use>
      </svg>
      <span>(503) 750-3301</span>
    </small>
  </a>
  <a href="dosomethinghere:nicmarson@gmail.com" class="email">
    Email
    <small class="tooltip--top">
      <svg class="shape-email">
        <use xlink:href="#shape-email"></use>
      </svg>
      <span>email</span>
    </small>
  </a>
</ul>
<h3 class="title--block">Social</h3>
<ul class="connect">
  <li>
    <a href="http://www.linkedin.com/in/nicmarson" class="social linkedin">LinkedIn
      <small class="tooltip--top">
        <svg class="shape-linkedin">
          <use xlink:href="#shape-linkedin"></use>
        </svg>
        <span>linkedin.com/in/nicmarson</span>
      </small>
    </a>
  </li>
  <li>
    <a href="http://www.facebook.com/nicmarson" class="social facebook">Facebook
      <small class="tooltip--top">
        <svg class="shape-facebook">
          <use xlink:href="#shape-facebook"></use>
        </svg>
        <span>facebook.com/nicmarson</span>
      </small>
    </a>
  </li>
  <li>
    <a href="http://twitter.com/nicmarson/" class="social twitter">Twitter
      <small class="tooltip--top">
        <svg class="shape-twitter">
          <use xlink:href="#shape-twitter"></use>
        </svg>
        <span>twitter.com/nicmarson</span>
      </small>
    </a>
  </li>
  <li>
    <a href="https://plus.google.com/u/1/113552084609278239298?
 rel=author" class="social googleplus">Google&plus;
      <small class="tooltip--top">
        <svg class="shape-googleplus">
          <use xlink:href="#shape-googleplus"></use>
        </svg>
        <span>plus.google.com/nicmarson</span>
      </small>
    </a>
  </li>
  <li>
    <a href="http://github.com/nicmarson/" class="social github">Github
      <small class="tooltip--top">
        <svg class="shape-github">
          <use xlink:href="#shape-github"></use>
        </svg>
        <span>github.com/nicmarson</span>
      </small>
    </a>
  </li>
  <li>
    <a href="http://www.pinterest.com/nicmarson/" class="social pinterest">Pinterest
      <small class="tooltip--top">
        <svg class="shape-pinterest">
          <use xlink:href="#shape-pinterest"></use>
        </svg>
        <span>pinterest.com/nicmarson</span>
      </small>
    </a>
  </li>
</ul>
