.about__img-circle {
  background-color: palette(red);
  float: right;
  opacity: .95;
  padding-bottom: 75%;
  position: relative;
  @extend %transition-fast;
  width: 80%;

  img {
    animation: body-movement 16s cubic-bezier(.5, .2, .3, 1) infinite;
    position: absolute;
    top: 5%;
    width: 100%;
  }
}

.about__history {
  background-color: palette(grey, lightest);
}

.about__favorites {
  background-color: palette(grey, light);

  .col-one-third {
    border-right: 1px solid rgba(0,0,0,.1);

    &:last-child {
      border-right: none;
    }
  }
}

.tinyhouse {
  border-bottom: 1px solid palette(grey, light);
  padding: 105px 30px 20px 10px;
  position: relative;

  span {
    display: block;
    font-size: 20px;
    font-weight: 200;
    text-transform: uppercase;
  }

  .year {
    color: palette(blue);
    font-size: 30px;
    font-weight: 900;
    left: 10px;
    line-height: 1.2;
    position: absolute;
    top: 30px;
    width: 80px;
  }

  .typcn-home {
    font-size: 120px;
    line-height: 1;
    position: absolute;
    left: 140px;
    top: 0;

    @include mq($from: desktop) {
      display: none;
    }

    @include mq($from: huge) {
      display: inline-block;
    }
  }

  .typcn-home-outline {
    color: palette(blue);
    position: absolute;
    left: 193px;
    top: 96px;

    @include mq($from: desktop) {
      display: none;
    }

    @include mq($from: huge) {
      display: inline-block;
    }
  }
}

.bridgecity {
  background-image: url("../images/bridge.svg");
  background-position: center -20px;
  background-repeat: no-repeat;
  background-size: 160px auto;
  padding: 110px 10px 20px;
  text-align: center;
}
