.about,
.about ::selection,
.about .ink {
  background-color: $about-bg-color;
}

.about {
  background: linear-gradient(to bottom, $about-bg-color, $about-alt-color);

  .connect .phone small,
  .connect .email small {
    background-color: $about-bg-color;

    &::after {
      border-top-color: $about-bg-color;
    }
  }

  .connect .phone:hover,
  .connect .email:hover {
    background-color: $about-bg-color;
  }

  .nav a:focus,
  .nav a:hover,
  .nav a.active {
    color: $about-nav-hover;

    svg {
      fill: $about-nav-hover;
    }
  }
}

.about__img-circle {
  @extend %top-padding;

  .img-circle {
    background-color: #e85545;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    margin: auto;
    min-width: 280px;
    position: relative;
    @extend %transition-fast;
    width: 65%;

    @include mq($from: double) {
      max-width: 480px;
      width: 85%;
    }
    @include mq($from: quadruple) {
      min-width: 480px;
      width: 75%;
    }
  }

  img {
    position: relative;
    top: 5%;

    @include mq($from: double) {
      animation: body-movement 16s cubic-bezier(.5, .2, .3, 1) infinite;
    }
  }
}

.about__history {
  background-color: palette(grey, lightest);

  header {
    background-color: palette(blue);
  }
}

.about__facts {
  background-color: palette(grey, darkest);

  header {
    background-color: palette(red);
  }
}

.about__favorite {
  background-color: palette(grey, lighter);
  position: relative;

  &:last-child {
    flex-grow: 1;
  }

  &.kippt {
    background-color: $kippt;
  }

  &.twitter {
    background-color: $twitter;
  }

  &.github {
    background-color: $github;
  }

  .shape-star,
  .shape-twitter,
  .shape-github {
    bottom: 1rem;
    position: absolute;
    right: 1rem;
    width: 20%;
  }

  .shape-star {
    fill: lighten($kippt, 5);
  }

  .shape-twitter {
    fill: lighten($twitter, 5);
  }

  .shape-github {
    fill: lighten($github, 5);
  }
}

.tinyhouse {
  border-bottom: 1px solid palette(grey, darker);
  padding: 3rem 0 2rem;
  position: relative;

  p {
    font-family: $font-family-sans-serif;
  }

  span {
    display: block;
    font-size: 20px;
    font-weight: 200;
    text-transform: uppercase;
  }

  .year {
    color: palette(red);
    font-size: 30px;
    font-weight: 900;
    line-height: 1.2;
  }

  // Big house
  .shape-home-roof,
  .shape-home-walls {
    fill: palette(grey, darker);
    position: absolute;
    right: 0;
    top: 3rem;
    width: 160px;
  }

  .shape-home-roof {
    fill: palette(red);
  }

  // Little house
  .shape-house {
    fill: palette(red);
    position: absolute;
    right: 95px;
    top: 5rem;
    width: 30px;
  }
}

.bridgecity {
  padding: 200px 10px 20px;
  position: relative;
  text-align: center;

  .shape-bridge {
    @include centerer(absolute, horizontal);
    fill: palette(yellow);
    height: 200px;
    top: 0;
  }
}

.img-fade {
  position: relative;

  svg {
    fill: $white;
    opacity: .75;
    @extend %transition-fast;
  }

  &:hover {

    svg {
      opacity: 1;
    }
  }
}
