.about__img-circle {
  @extend %transition-fast;

  @include mq($from: tablet) {
    background-color: #e85545;
    float: right;
    height: 400px;
    opacity: .95;
    position: relative;
    width: 400px;
  }

  img {
    animation: body-movement 16s cubic-bezier(.5, .2, .3, 1) infinite;
    position: absolute;
    top: 5%;
    width: 100%;
  }
}

.about__history {
  background-color: palette(grey, lightest);
}

.about__favorite {
  background-color: palette(grey, lighter);

  &.kippt {
    background-color: $kippt;
  }

  &.twitter {
    background-color: $twitter;
  }

  &.github {
    background-color: $github;
  }
}

.tinyhouse {
  border-bottom: 1px solid palette(grey, light);
  padding: 105px 30px 20px 10px;
  position: relative;

  span {
    display: block;
    font-size: 20px;
    font-weight: 200;
    text-transform: uppercase;
  }

  .year {
    color: palette(blue);
    font-size: 30px;
    font-weight: 900;
    left: 10px;
    line-height: 1.2;
    position: absolute;
    top: 30px;
    width: 80px;
  }
}

.shape-home {
  font-size: 120px;
  line-height: 1;
  position: absolute;
  left: 140px;
  top: 0;

  @include mq($from: desktop) {
    display: none;
  }

  @include mq($from: huge) {
    display: inline-block;
  }
}

.shape-house {
  color: palette(blue);
  position: absolute;
  left: 193px;
  top: 96px;

  @include mq($from: desktop) {
    display: none;
  }

  @include mq($from: huge) {
    display: inline-block;
  }
}

.bridgecity {
  padding: 110px 10px 20px;
  text-align: center;
}

