footer[role=contentinfo] {
  font-size: 12px;
  padding: $gutter-width-small $gutter-width-small*2;

  @include mq($from: desktop) {
    padding: $gutter-width-medium $gutter-width-medium*2;
  }

  @include mq($from: huge) {
    padding: $gutter-width-large $gutter-width-large*2;
  }

  .site-connect {

    .js & {
      display: none;
    }
  }
}
