footer[role=contentinfo] {
  color: $footer-color;
  text-align: center;

  .title {
    margin-bottom: .5em;
  }

  .title--block {
    margin-bottom: .25em;
  }
}

.siteinfo {
  background-color: $white;
  color: palette(grey, darker);
  font-size: 12px;
  margin-bottom: 0;
  padding: 1rem $body-padding;
  text-align: right;

  p {
    margin-bottom: 0;
  }
}

.copyright {
  float: left;
}
