footer[role=contentinfo] {
  color: $footer-color;
  text-align: center;

  .connect {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;

    a {
      font-size: 2vmin;
      margin: 0 .125em;

      @include mq($from: double) {
        font-size: 3vmin;
      }

      @include mq($from: triple) {
        font-size: 4vmin;
      }
    }
  }

  .title {
    color: inherit;
    margin-bottom: .5em;
  }

  .title--block {
    margin-bottom: .25em;
  }
}

.siteinfo {
  background-color: $white;
  color: palette(grey, darker);
  font-size: 12px;
  margin-bottom: 0;
  padding: 1rem $body-padding;
  text-align: right;

  p {
    margin-bottom: 0;
  }
}

.copyright {
  float: left;
}
