.container {
  margin: 20px;

  @include mq($from: desktop) {
    margin: 0 auto;
    width: 80%;
  }
}

.flex-container {
  display: flex;

  &--row {
    display: flex;
    flex-flow: row nowrap;
  }

  &--column {
    display: flex;
    flex-flow: column nowrap;
  }
}

.flex-item {
  flex: 1 auto;

  &--scroll {
    flex: 1 auto;
    overflow: auto;
  }
}

.cf,
.row {
  @include clearfix;
}

[class^="col-"] {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  max-width: 100%;
}

.row {

  [class^="col-"] {
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}

@include mq($from: desktop) {

  [class^="col-"] {
    float: left;

    .col-one-third {
      width: calc(100% / 3 - 1.5rem);
    }

    .col-half {
      width: calc(100% / 2 - 1.5rem);
    }

    .col-two-thirds {
      width: calc(100% / 1.5 - 1.5rem);
    }

    .col-one-fifth {
      width: calc(100% / 5 - 1.5rem);
    }

    .col-three-fifths {
      width: calc(100% / 5 * 3 - 1.5rem);
    }

    .col-full {
      width: calc(100% - 1.5rem);
    }
  }

  .col-one-third {
    width: calc(100% / 3 - 3rem);
  }

  .col-half {
    width: calc(100% / 2 - 3rem);
  }

  .col-two-thirds {
    width: calc(100% / 1.5 - 3rem);
  }

  .col-one-fifth {
    width: calc(100% / 5 - 3rem);
  }

  .col-three-fifths {
    width: calc(100% / 5 * 3 - 3rem);
  }

  .col-full {
    width: calc(100% - 3rem);
  }
}
