$gutter-width-small:  1rem;
$gutter-width-medium: 1.5rem;
$gutter-width-large:  2rem;

.cf,
.row,
.row--gutter,
.row--moat {
  @include clearfix;
}

[class^="col-"] {
  float: left;
}

.col-half {
  width: 50%;
}

.col-one-third {
  width: 50%;

  @include mq($from: desktop) {
    width: 33%;

    &:first-child {
      width: 34%;
    }
  }
}

.col-one-thirdish {

  @include mq($from: desktop) {
    width: 34%;
  }
}

.col-two-thirds {
  width: 100%;

  @include mq($from: desktop) {
    width: 67%;
  }
}

.col-one-fourth {
  width: 50%;

  @include mq($from: desktop) {
    width: 25%;
  }
}

.col-three-fourths {
  width: 100%;

  @include mq($from: desktop) {
    width: 75%;
  }
}

.col-one-fifth {
  width: 50%;

  @include mq($from: desktop) {
    width: 20%;
  }
}

.col-two-fifths {
  width: 50%;

  @include mq($from: desktop) {
    width: 40%;
  }
}

.col-three-fifths {
  width: 100%;

  @include mq($from: desktop) {
    width: 60%;
  }
}

.col-four-fifths {
  width: 100%;

  @include mq($from: desktop) {
    width: 80%;
  }
}

.col-full {
  width: 100%;
}

.row--gutter {

  [class^="col-"] {
    max-width: 100%;
    padding-left: $gutter-width-small;
    padding-right: $gutter-width-small;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }

    @include mq($from: desktop) {
      padding-left: $gutter-width-medium;
      padding-right: $gutter-width-medium;
    }

    @include mq($from: huge) {
      padding-left: $gutter-width-large;
      padding-right: $gutter-width-large;
    }
  }

  .col-one-fifth {

    &:first-child,
    &:last-child {
      @include mq($from: desktop) {
        width: calc(20% - $gutter-width-medium);
      }

      @include mq($from: huge) {
        width: calc(20% - $gutter-width-large);
      }
    }
  }

  .col-one-fourth {

    &:first-child,
    &:last-child {
      @include mq($from: desktop) {
        width: calc(25% - $gutter-width-medium);
      }

      @include mq($from: huge) {
        width: calc(25% - $gutter-width-large);
      }
    }
  }

  .col-one-third {

    &:first-child,
    &:last-child {
      @include mq($from: desktop) {
        width: calc(33% - $gutter-width-medium);
      }

      @include mq($from: huge) {
        width: calc(33% - $gutter-width-large);
      }
    }
  }

  .col-two-thirds {

    &:first-child,
    &:last-child {
      @include mq($from: desktop) {
        width: calc(67% - $gutter-width-medium);
      }

      @include mq($from: huge) {
        width: calc(67% - $gutter-width-large);
      }
    }
  }
}

.row--moat {

  [class^="col-"] {
    padding: $gutter-width-small*2;

    @include mq($from: desktop) {
      padding: $gutter-width-medium*2;
    }

    @include mq($from: huge) {
      padding: $gutter-width-large*2;
    }
  }
}

.container {
  padding: $gutter-width-small*2;

  @include mq($from: desktop) {
    padding: $gutter-width-medium*2;
  }

  @include mq($from: huge) {
    padding: $gutter-width-large*2;
  }
}

// modernizr feature detection
.flexbox {

  .flex {
    display: flex;

    &--row {
      display: flex;
      flex-flow: row wrap;
    }

    &--column {
      display: flex;
      flex-flow: column nowrap;
    }

    &--media {
      align-items: flex-start;
      display: flex;
    }
  }

  .flex__item {
    flex: 1;

    &--inline {
      display: inline-flex;
    }
  }
}
