.container {
  max-width: $screen-5 - $body-padding;

  @include mq($from: quintuple) {
    margin-left: auto;
    margin-right: auto;
  }
}

.content {
  background-color: $white;
  box-shadow: 0 0 25px rgba(0,0,0,.3);
  text-align: center;

  @include mq($from: double) {
    text-align: left;
  }

  @include mq($from: triple) {
    margin-left: $body-padding;
  }
}

.row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
}

.group {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  width: 100%;
}

.row--two {

  > .group--one {
    @include mq($from: double) {
      width: 50%;

      &--gutter {
        width: calc(50% - 1rem);
      }
    }
  }
}

.row--three {

  > .group--one,
  > .group--two {
    @include mq($from: double) {
      width: 50%;

      &--gutter {
        width: calc(50% - 1rem);
      }
    }
  }

  @include mq($from: triple) {
    > .group--one {
      width: 33.33%;

      &--gutter {
        width: calc(33.33% - 1rem);
      }

      // prevent gaps in grid
      &:nth-child(3n + 2) {
        flex-grow: 1;
      }
    }

    > .group--two {
      width: 66.67%;

      &--gutter {
        width: calc(66.67% - 1rem);
      }
    }
  }
}

.row--four {

  @include mq($from: double) {
    > .group--one {
      width: 33.33%;

      &--gutter {
        width: calc(33.33% - 1rem);
      }
    }

    > .group--three {
      width: 66.67%;

      &--gutter {
        width: calc(66.67% - 1rem);
      }
    }
  }

  @include mq($from: triple) {
    > .group--one {
      width: 25%;

      &--gutter {
        width: calc(25% - 1rem);
      }
    }

    > .group--three {
      width: 75%;

      &--gutter {
        width: calc(75% - 1rem);
      }
    }
  }
}

.row {
  // styles for rows inside rows

  .row--two > .group--one {
    @include mq($from: double) {
      width: 100%;

      &--gutter {
        width: 100%;
      }
    }

    @include mq($from: quadruple) {
      width: 50%;

      &--gutter {
        width: calc(50% - 1rem);
      }
    }
  }

  .row--three > {

    .group--one {
      @include mq($from: double) {
        width: 100%;

        &--gutter {
          width: 100%;
        }
      }

      @include mq($from: triple) {
        width: 50%;

        &--gutter {
          width: calc(50% - 1rem);
        }
      }

      @include mq($from: quadruple) {
        width: 33.33%;

        &--gutter {
          width: calc(33.33% - 1rem);
        }
      }
    }

    .group--two {
      @include mq($from: double) {
        width: 100%;

        &--gutter {
          width: 100%;
        }
      }

      @include mq($from: triple) {
        width: 50%;

        &--gutter {
          width: calc(50% - 1rem);
        }
      }

      @include mq($from: quadruple) {
        width: 66.67%;

        &--gutter {
          width: calc(66.67% - 1rem);
        }
      }
    }
  }
}

.block {
  overflow: hidden;
  padding-left: 2rem;
  padding-right: 2rem;

  &--small {
    overflow: hidden;
    padding: .75rem
  }

  &--medium {
    overflow: hidden;
    padding: 1.5rem;
  }

  &--large {
    overflow: hidden;
    padding: 2rem;
  }

  &--bottom {
    @extend .block;
    @extend %bottom-padding;
  }

  &--top {
    @extend .block;
    @extend %top-padding;
  }

  &--both {
    @extend .block;
    @extend %bottom-padding;
    @extend %top-padding;
  }
}

@include mq($from: double) {
  .flex {
    display: flex;

    &--row {
      display: flex;
      flex-flow: row wrap;
      width: 100%;
    }

    &--column {
      display: flex;
      height: 100%;
      flex-flow: column nowrap;
    }

    &--media {
      align-items: flex-start;
      display: flex;
    }

    &--bottom {
      align-items: flex-end;
      display: flex;
    }

    &--centered {
      display: flex;
      justify-content: center;
    }

    &--right {
      display: flex;
      justify-content: flex-end;
    }

    &__item {
      flex-grow: 0;
      flex-shrink: 1;
      flex-basis: auto;

      &--center {
        @extend .flex__item;
        align-self: center;
      }

      &--right {
        @extend .flex__item;
        align-self: right;
      }
    }
  }
}
