.site-header {
  left: 0;
  padding: 2.5rem 2rem 2rem;
  position: absolute;
  top: 0;

  @include mq($from: tablet) {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  a {
    border-bottom: 1px solid transparent;
    letter-spacing: .0125em;
    text-transform: uppercase;

    &:focus,
    &:hover {
      border-bottom-color: lighten($nav-link-color-hover, 6);
      color: $nav-link-color-hover;
    }

    &.active {
      border-bottom-color: $nav-link-color-active;
      color: $nav-link-color-active;
    }
  }

  .toggle-connect-container {
    border-radius: 50%;
    @extend %transition-fast;

    &:hover {
      transform: scale(1.1);
    }
  }

  .toggle--connect {
    background-color: palette(grey);
    border: none;
    border-radius: 50%;

    &:hover {
      background-color: palette(red);

      svg {
        transform: scale(1.2);
      }
    }

    svg {
      fill: $white;
      @extend %transition-fast;
      vertical-align: calc(50% - .9em);
      width: 1em;
    }
  }
}
