header[role=banner] {
  color: $header-color;
  font-family: $font-family-condensed;
  letter-spacing: .07em;
  padding: .5rem 1rem 2rem;
  position: relative;
  text-transform: uppercase;
  white-space: nowrap;

  @include mq($from: double) {
    height: $header-height;
    padding-bottom: 0;
    padding-top: 27px;
    text-align: right;
  }

  @include mq($from: triple) {
    padding-left: $body-padding;
    padding-right: $body-padding;
  }

  @include mq($from: quintuple) {
    padding-right: 0;
  }

  .title--header {
    color: rgba(255,255,255,.85);
    font-family: $font-family-condensed;
    font-size: 18px;
    padding-left: 0;
    padding-right: 0;

    @include mq($from: double) {
      @include centerer(absolute, vertical);
      left: 1rem;
    }

    @include mq($from: triple) {
      font-size: 24px;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.header-nav {

  @include mq($from: double) {
    float: left;
    padding-left: 6.5rem;
    text-align: left;
  }

  @include mq($from: triple) {
    padding-left: 0;
  }

  li {
    overflow: hidden; // for wave effect

    @include mq($from: double) {
      margin-right: .75em;
    }
  }
}

.nav .connect-link {

  @include mq($from: double) {
    display: inline-block;
    letter-spacing: 0;
    padding-right: 2.75em;
    text-transform: none;
  }

  i {
    @include mq($from: double) {
      font-family: $font-family-serif;
      font-style: italic;
      font-weight: 300;
    }
  }

  svg {
    display: inline-block;
    height: 1.5em;
    position: absolute;
    right: .5em;
    top: .25em;
    @extend %transition-fast;
    width: 1.5em;

    @include mq($to: double) {
      display: none;
    }
  }
}

.nav .connect-link:hover svg {
  height: 3em;
  right: -.5em;
  top: -.5em;
  width: 3em;
}
