.site-header {

  a {
    border-bottom: 1px solid transparent;
    letter-spacing: .0125em;
    text-transform: uppercase;

    &:focus,
    &:hover {
      border-bottom-color: lighten($nav-link-color-hover, 6);
      color: $nav-link-color-hover;
    }

    &.active {
      border-bottom-color: $nav-link-color-active;
      color: $nav-link-color-active;
    }
  }

  nav[role=navigation] {

    .site-nav-closed & {
      display: none;
    }
  }

  .toggle-connect-container {
    border-radius: 50%;
    @extend %transition-fast;

    &:hover {
      transform: scale(1.1);
    }
  }

  .toggle--connect {
    background-color: palette(grey, light);
    border: none;
    border-radius: 50%;

    &:hover {
      background-color: palette(grey);

      svg {
        transform: scale(1.1);
      }
    }

    svg {
      fill: $white;
      @extend %transition-fast;
      vertical-align: middle;
    }
  }

  .toggle--nav {
    left: 0;
    position: absolute;
    top: 0;

    @include mq($from: desktop) {
      opacity: .75;
    }

    &:hover,
    &.active {
      opacity: 1;
    }
  }
}

.nav-previous {
  display: inline-block;
  left: 50px;
  line-height: 38px;
  position: absolute;
  top: 0;
}

.site-nav-open .toggle--nav {
  border-color: rgba(255,255,255,.75);

  span {
    background-color: transparent;

    &:before,
    &:after {
      background-color: #FFF;
    }

    &:before {
      transform: translateY(0) rotate(45deg);
    }

    &:after {
      transform: translateY(0) rotate(-45deg);
    }
  }
}
