.home,
.home ::selection,
.home .ink {
  background-color: $home-bg-color;
}

.home {
  background: linear-gradient(to bottom, $home-bg-color, $footer-bg-color);

  .connect .phone small,
  .connect .email small {
    background-color: $home-bg-color;

    &::after {
      border-top-color: $home-bg-color;
    }
  }

  .connect .phone:hover,
  .connect .email:hover {
    background-color: $home-bg-color;
  }

  .nav a:focus,
  .nav a:hover,
  .nav a.active {
    color: $home-nav-hover;

    svg {
      fill: $home-nav-hover;
    }
  }

  .sidebar {
    border-right: $body-padding solid palette(red);

    header {
      background-color: palette(red);
      color: $white;
    }

    .title--block {
      margin-bottom: 0;
    }
  }
}
