/* Parallax base styles
--------------------------------------------- */

.parallax {
  height: 500px; /* fallback for older browsers */
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 300px;

  &__group {
    position: relative;
    height: 500px; /* fallback for older browsers */
    height: 100vh;
    transform-style: preserve-3d;
  }

  &__layer--fore {
    @extend %parallax__layer;
    box-shadow: 0 0 25px rgba(0,0,0,.3);
    transform: translateZ(90px) scale(.7);
    z-index: 4;
  }

  &__layer--base {
    @extend %parallax__layer;
    transform: translateZ(0);
    z-index: 3;
  }

  &__layer--back {
    @extend %parallax__layer;
    transform: translateZ(-300px) scale(2);
    z-index: 2;
  }

  &__layer--deep {
    @extend %parallax__layer;
    transform: translateZ(-600px) scale(3);
    z-index: 1;
  }
}


/* Debugger styles - used to show the effect
--------------------------------------------- */

.debug {
  position: fixed;
  top: 0;
  left: .5em;
  z-index: 999;
  background: rgba(0,0,0,.85);
  color: #fff;
  padding: .5em;
  border-radius: 0 0 5px 5px;
}
.debug-on .parallax__group {
  transform: translate3d(700px, 0, -800px) rotateY(30deg);
}
.debug-on .parallax__layer {
  box-shadow: 0 0 0 2px #000;
  opacity: 0.9;
}
.parallax__group {
  transition: transform 0.5s;
}

