.sidebar {

  @include mq($from: desktop) {
    display: flex;
    flex-flow: row nowrap;
  }

  article,
  aside {
    position: relative;

    @include mq($from: desktop) {
      width: 50%;
    }
  }
}
