// Found on the home page

.banner {
  position: relative;
  z-index: 1;

  p {
    font-size: 1.5rem;
    font-family: $font-family-serif;
    line-height: 1.1;
  }

  .img-src {
      background-position: left top;
  }

  .img-bg-content {
    opacity: 1;

    @include breakpoint("medium") {

      .frame {
        margin-bottom: 20px;
        padding: 20px 30px 12px;
        width: 44.4rem;
      }
    }

    @include breakpoint("large") {
      .frame {
        width: 44.8rem;
      }
    }
  }

  .name {
    font-size: 4rem;
    font-weight: 900;
    text-shadow: 0 0 20px rgba(1,1,1, .2);

    @include breakpoint("large") {
    }

    > span {
      display: block;

      &:first-child {
        font-weight: 200;
        letter-spacing: -.05em;
        margin-bottom: 1rem;
        margin-left: -.065em;

        @include breakpoint("medium") {
          font-size: 10rem;
        }

        @include breakpoint("large") {
          font-size: 12.5rem;
        }
      }
    }

    // Fix some kerning issues
    .char2,
    .char3,
    .char5 {
      margin-left: .02em;
    }
    .char4 {
      margin-left: .03em;
    }

    @include breakpoint("medium") {
      font-size: 7rem;
    }

    @include breakpoint("large") {
      font-size: 8.5rem;
      line-height: .85;
    }
  }

  .byline {

    @include breakpoint("medium") {
      position: absolute;
      right: 40px;
      text-align: right;
      top: 35px;
    }

    @include breakpoint("large") {
      font-size: 1.75em;
    }

    span {
      display: block;
      white-space: nowrap;
    }

    b {
      font-size: 1.5em;
      margin-right: .05em;
    }
  }

  .more {
    font-style: italic;

    img {
      border-radius: 100%;
      margin-left: 5px;
      opacity: .5;
      @extend %transition-medium;
    }

    &:hover {
      img {
        opacity: 1;
      }
    }
  }
}

.wf-loading .img-bg-content {
  opacity: 0;
}
