[class^="btn__"],
a[role="button"] {
  background: $color-gray;
  border-radius: 2px;
  color: inherit;
  cursor: pointer;
  display: inline-block;
  font-weight: 300;
  letter-spacing: .0125em;
  line-height: normal;
  overflow: hidden;
  padding: 0.6em 1em;
  text-decoration: none;
  text-overflow: ellipsis;
  transition: background-color 0.2s;
  white-space: nowrap;

  @include breakpoint("small") {
    max-width: 99%;
  }

  &:focus {
    outline: thin dotted #666;
    text-decoration:none;
  }

  &:hover, &:active, &:focus {
    background: lighten($color-gray, 10);
    text-decoration:none;
  }

  &.btn__primary {
    background-color: $color-blue;
    color: #fff;

    &:hover, &:active, &:focus {
      background-color: darken($color-blue, 10);
    }
  }

  &.btn__inverse {
    background-color: rgba(255,255,255, .2);
    border: 2px solid;
    color: #fff;

    &:hover, &:active, &:focus {
      background-color: transparent;
    }
  }

  &.btn__link {
    background-color: transparent;
    color: #fff;
    padding-left: .25em;
    padding-right: .25em;

    &:hover, &:active, &:focus {
      background-color: transparent;
    }
  }

  &.btn__danger {
    background-color: darken($color-red, 15);
    color: #fff;
    font-weight: 700;

    &:hover, &:active, &:focus {
      background-color: darken($color-red, 25);
    }
  }

  &.btn__wide {
    padding-right: 1.5em;
    padding-left: 1.5em;
  }

  &.btn__block {
    display: block;
    padding: 1em 1.5em;
    text-align: center;
  }
}

.nav-toggle {
  @extend %transition-component;
  background-color: transparent;
  border: 2px solid rgba(255,255,255,.75);
  border-radius: 50%;
  color: #FFF;
  cursor: pointer;
  display: block;
  height: 42px;
  outline: none;
  padding: 0;
  position: absolute;
  transition-property: background-color, opacity;
  width: 43px;

  @include breakpoint("medium") {
    opacity: .75;
  }

  &:after {
    content: "menu";
    font-family: $font-family-sans-serif;
    font-size: 30px;
    font-weight: 300;
    left: 52px;
    line-height: 31px;
    position: absolute;
    top: 0;
  }

  span {
    background-color: rgba(255,255,255,.8);
    display: block;
    font-size: 0;
    height: 4px;
    left: 10px;
    margin-top: -2px;
    position: absolute;
    top: 50%;
    user-select: none;
    width: 20px;

    &:before,
    &:after {
      background-color: rgba(255,255,255,.8);
      content: '';
      height: 100%;
      left: 0;
      position: absolute;
      transition: transform .2s;
      width: 100%;
    }

    &:before {
      transform: translateY(-200%);
    }

    &:after {
      transform: translateY(200%);
    }
  }

  &:hover,
  &.active {
    opacity: 1;

    span:before {
      transform: translateY(-220%);
    }

    span:after {
      transform: translateY(220%);
    }
  }
}

.site-nav-open .nav-toggle {

  span {

    &:before {
      -webkit-transform: translateY(0) rotate(45deg);
      transform: translateY(0) rotate(45deg);
    }

    &:after {
      -webkit-transform: translateY(0) rotate(-45deg);
      transform: translateY(0) rotate(-45deg);
    }
  }
}
