%clipTransition {
  transition-duration: .2s;
  transition-timing-function: cubic-bezier(.17,.67,.83,.67);
}

.clip-grid {
  padding: 20px 20px 20px 40px;

  .clip {
    width: 90%;
  }
}

.clip {
  @extend %clipTransition;
  animation-name: bounce;
  background-color: rgba(0,0,0,.05);
  box-shadow: inset 0 0 0 rgba(0,0,0,0);
  font-size: 16px;
  margin: 0 10px 20px 0;
  overflow: hidden;
  position: relative;
  transition-property: box-shadow;

  @include breakpoint("medium") {
    margin-bottom: 15px;
    margin-right: 15px;
  }

  @include breakpoint("large") {
    margin-bottom: 20px;
    margin-right: 20px;
  }

  &:hover,
  &.hover {
    box-shadow: inset 0 3px 6px rgba(0,0,0,.5);

    img {
      opacity: .35;
      transform: scale3d(1, 1, 1);
    }

    .meta {
      margin-top: 0;
      top: 0;
    }

    .description {
      white-space: normal;
    }
  }

  a {
    color: inherit;
    display: block;
    height: 0;
    outline: medium none;
    padding-bottom: 69.5122%;
    position: relative;
    transition: background-color 200ms ease 0s;
    width: 100%;
  }

  .img {
    overflow: hidden;
  }

  img {
    @extend %clipTransition;
    height: auto;
    opacity: 1;
    position: absolute;
    top: 0;
    transform: scale3d(1.2, 1.2, 1);
    transition-property: opacity, transform;
    width: 100%;
  }

  .meta {
    @extend %clipTransition;
    color: #FFF;
    display: block;
    height: 100%;
    left: 0;
    margin-top: -2.75em;
    position: absolute;
    top: 100%;
    transition-delay: .15s;
    transition-property: top, margin-top;
    width: 100%;
  }

  .description,
  .tags {
    display: block;
  }

  .description {
    @extend %clipTransition;
    border-bottom: 1px solid rgba(255,255,255, .2);
    font-weight: 200;
    height: 2.75em;
    line-height: 2em;
    padding: .25em 1em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    b {
      font-weight: 700;
    }
  }

  .tags {
    height: 100%;
    font-size: .875em;
    height: 100%;
    padding: .75em 1em 1em;
    width: 100%;
  }
}

.no-flexbox {
  .clip-grid .clip {
    float: left;
  }
}

@media (max-width: 1800px) and (min-width: 1400px) {
  .clip-grid .clip {
    width: 23.4%;
  }
}

@media (max-width: 1000px) and (min-width: 768px) {
  .clip-grid .clip {
  width: 46%;
  }
}

@media (max-width: 1400px) and (min-width: 1000px) {
  .clip-grid .clip {
  width: 31%;
  }
}

@media (max-width: 1800px) and (min-width: 1400px) {
  .clip-grid .clip {
  width: 23.4%;
  }
}

@media (max-width: 2200px) and (min-width: 1800px) {
  .clip-grid .clip {
  width: 18.7%;
  }
}
