.clip-grid {
  padding: 20px 20px 20px 40px;
}

.clip {
  animation-name: bounce;
  background-color: #FFF;
  border-bottom: 0 solid $color-teal;
  border-top: 7px solid $bg-color;
  color: $color-gray-dark;
  height: 232px;
  margin: 0 10px 20px 0;
  overflow: hidden;
  position: relative;
  transition: border .15s;
  transition: transform .2s cubic-bezier(.17,.67,.83,.67) 0s;
  width: 90%;

  &:hover,
  &.hover {
    border-bottom-width: 7px;
    border-top-width: 0;
    transform: translateY(-8px);

    .img-cover {
      opacity: 1;
    }

    .description {
      white-space: normal;
    }
  }

  .img-cover {
    background-position: center top;
    height: 200px;
    opacity: .65;
  }

  a {
    color: inherit;
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    @extend %transition-medium;
    width: 100%;
  }

  .description {
    background-color: #FFF;
    display: block;
    font-size: 16px;
    font-weight: 200;
    height: 32px;
    padding: 4px 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    overflow: hidden;
    right: 0;
    text-overflow: ellipsis;
    white-space: nowrap;

    b {
      font-weight: 700;
    }
  }
}

.no-flexbox {
  .clip {
    float: left;
  }
}

@media (max-width: 1800px) and (min-width: 1400px) {
  .clip {
    width: 23.4%;
  }
}

@media (max-width: 1000px) and (min-width: 768px) {
  .clip {
  width: 46%;
  }
}

@media (max-width: 1400px) and (min-width: 1000px) {
  .clip {
  width: 31%;
  }
}

@media (max-width: 1800px) and (min-width: 1400px) {
  .clip {
  width: 23.4%;
  }
}

@media (max-width: 2200px) and (min-width: 1800px) {
  .clip {
  width: 18.7%;
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
  40% {transform: translateY(-30px);}
  60% {transform: translateY(-15px);}
}
