.component {
  overflow-x: scroll;
  overflow-scrolling: touch;
  white-space: nowrap;
  width: 100%;

  @include breakpoint("medium") {
    overflow: hidden;
    white-space: normal;
  }
}

.component__item {
  display: inline-block;
  position: relative;
  width: 100%;

  @include breakpoint("medium") {
    display: block;
    float: left;
  }

  a {
    display: block;
  }

  img {
    display: block;
    margin: 0 auto;
  }
}


// Modifiers

.component__item {
  font-size: 16px;
  margin-bottom: 20px;
  overflow: hidden;

  &:hover,
  &.hover {

    img {
      opacity: .35;
      transform: scale3d(1, 1, 1);
    }

    .meta {
      margin-top: 0;
      top: 0;
    }

    .description {
      white-space: normal;
    }
  }

  a {
    @extend %transition-component;
    animation-name: bounce;
    background-color: rgba(0,0,0,.05);
    box-shadow: inset 0 0 0 rgba(0,0,0,0);
    color: inherit;
    outline: medium none;
    position: relative;
    transition: background-color 200ms ease 0s;
    transition-property: background-color, box-shadow;
    width: calc(100% - 20px);

    &:hover,
    &.hover {
      box-shadow: inset 0 3px 6px rgba(0,0,0,.5);
    }
  }

  img {
    @extend %transition-component;
    height: auto;
    opacity: 1;
    position: absolute;
    top: -10px;
    transform: scale3d(1.2, 1.2, 1);
    transition-property: opacity, transform;
    width: 100%;
  }

  span {
    display: block;
  }

  .img {
    height: 300px;
    overflow: hidden;
    position: relative;
    width: 100%;
  }

  .meta {
    @extend %transition-component;
    color: #FFF;
    display: block;
    height: 100%;
    left: 0;
    margin-top: -2.5em;
    position: absolute;
    top: 100%;
    transition-delay: .15s;
    transition-property: top, margin-top;
    width: 100%;

    > span {
      font-size: .875em;
      padding: 2px 1em;
    }

    .description {
      font-size: 1em;
    }
  }

  .description {
    @extend %transition-component;
    border-bottom: 1px solid rgba(255,255,255, .2);
    font-weight: 200;
    height: 2.5em;
    line-height: 2em;
    margin-bottom: 1em;
    padding: .25em 1em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    b {
      font-weight: 700;
    }
  }

  .icon-star {
    height: 24px;
    position: absolute;
    right: 5px;
    top: 5px;
    width: 24px;

    svg {
      fill: #FFF;
      vertical-align: bottom;
    }
  }

  .title {
    color: rgba(255,255,255, .5);
    text-transform: uppercase;
  }

  .tags {
    margin-bottom: .5em;
  }

  // Outer container
  .progress {
    background-color: transparent;
    border-radius: 1px;
    box-shadow: none;
    height: 1.8em;
    margin-bottom: 0;
    margin-top: .5em;

    &:hover .progress-bar {
      background-color: #FFF;
    }
  }

  // Bar of progress
  .progress-bar {
    background-color: rgba(255,255,255,.8);
    border-radius: 1px;
    color: $color-gray;
    line-height: 1.8em;
  }
}


// Responsive sizing

.two__item {

  @include eq("small") {
    width: (100% / 1);
  }

  @include eq("medium") {
    width: (100% / 1);
  }

  @include eq("large") {
    width: (100% / 2);
  }
}

.four__item {

  @include eq("small") {
    width: (100% / 1);
  }

  @include eq("medium") {
    width: (100% / 2);
  }

  @include eq("large") {
    width: (100% / 4);
  }
}

.six__item {

  @include eq("small") {
    width: (100% / 2);
  }

  @include eq("medium") {
    width: (100% / 4);
  }

  @include eq("large") {
    width: (100% / 6);
  }
}
