$site-nav-link-color: #FFF;
$site-nav-link-color-hover: $color-grayblue-light;
$site-nav-width-open: 300px;
$site-nav-item-height: 3em;

.site-nav {
  background-color: $color-gray-dark;
  box-shadow: 10px 0 15px -10px rgba(0, 0, 0, .8);
  padding-top: 100px;

  @include breakpoint("medium") {
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: $site-nav-width-open;
    z-index: 99;
  }

  * {
    white-space: nowrap;
  }

  li {
    border-bottom: 1px solid rgba(255,255,255, .04);

    &:last-child {
      border-bottom: none;
    }

    &.active {
      border-right: 3px solid $color-grayblue-light;

      a {
        color: $site-nav-link-color-hover;
      }
    }

    a {
      @extend %transition-fast;
      color: $site-nav-link-color;
      display: block;
      font-weight: 300;
      height: $site-nav-item-height;
      line-height: $site-nav-item-height;
      padding-left: 20px;
      position: relative;

      &:hover {
        box-shadow: 0 5px 10px -5px rgba(255,255,255,.5), 0 -5px 10px -5px rgba(255,255,255,.5);
        color: $site-nav-link-color-hover;

        .icon {
          color: $site-nav-link-color-hover;
        }
      }
    }

    span {
      display: block;
      height: $site-nav-item-height;
      line-height: $site-nav-item-height;
      margin-left: 0;
      opacity: 1;
      position: absolute;
      top: 0;
      transition: left .25s cubic-bezier(.17,.67,.83,.67) 0s, opacity .3s ease-in-out 0s;
    }
  }

  .nav-header {
    color: $color-yellow;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    margin: 0;
    opacity: 1;
    padding: 24px 0 4px 15px;
    text-transform: uppercase;
    transition: opacity .3s ease-in-out 0s;
  }

  small {
    color: $color-gray;
  }

  .nav {
    border-bottom: 1px solid rgba(255,255,255, .08);
    border-top: 1px solid rgba(255,255,255, .08);
  }
}

.js .site-nav {
  display: none;
}

.js .site-nav.in {
  display: block;
}

// conditional styles
@include breakpoint("medium") {

  .site-nav-closed .site-nav {

    .nav-header {
      opacity: 0;
    }
  }
}
