$site-nav-width: 150px;
$site-nav-item-height: 40px;

.site-nav {
  background-color: hsl(248, 5%, 20%);
  @extend %transition-fast;

  @include breakpoint("medium") {
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: $site-nav-width;
    z-index: 99;

    > .nav:first-child {
      margin-top: 50px;
    }
  }

  a span,
  h3 {
    opacity: 1;
    transition: opacity 0.25s ease-in-out 0s;
  }

  h3 {
    color: $color-gray;
    font-size: 14px;
    font-weight: 300;
    margin: 24px 0 6px 15px;
    text-transform: uppercase;
  }

  li {

    &.active {
      border-right: 3px solid $color-teal-light;

      a {
        color: #FFF;
      }

      .icon {
        color: $color-teal-light;
        text-shadow: 0 0 1px rgba(0,0,0, .5);
      }
    }

    a {
      @extend %transition-fast;
      box-shadow: 0 -1px 0 rgba(0,0,0, .15) inset, 0 1px 0 rgba(255,255,255, .05) inset;
      color: #FFF;
      display: block;
      font-size: 16px;
      font-weight: 200;
      height: $site-nav-item-height;
      line-height: $site-nav-item-height;
      padding-left: 50px;
      position: relative;
      width: $site-nav-width - 3px;

      &:hover {
        background-color: hsl(248, 5%, 15%);
        color: #FFF;
      }
    }
  }

  small {
    color: $color-gray;
  }

  .nav {
    border-bottom: 1px solid rgba(255,255,255, .08);
    color: #FFF;

    @include breakpoint("medium") {

      // tooltips
      .tooltip-right {

        .tooltip {
          color: #FFF;
          display: none;
          left: $site-nav-width;
          top: 5px;
        }

        &:hover .tooltip {
          display: block;
        }
      }
    }
  }

  .icon {
    color: $color-gray;
    font-size: 20px;
    left: 14px;
    line-height: 1;
    position: absolute;
    top: 8px;
  }
}

.js .site-nav {
  display: none;
  @include breakpoint("medium") {
    display: block;
  }
}

.js .site-nav.in {
  display: block;
}

// conditional styles
@include breakpoint("medium") {

  .site-nav-closed .site-nav {
    width: 50px;

    h3,
    a span {
      opacity: 0;
    }

    a {
      overflow: hidden;
      width: 50px; // width required for overflow hidden
    }
  }
}
