[class^="popover__"] {
  background-color: $color-paper-wet;
  color: $color-gray;
  padding: 2em 0;
  text-align: center;

  @include breakpoint("medium") {
    animation: look-at-me 1s cubic-bezier(0.5, 0.2, 0.3, 1.0) 3;
    background-color: transparent;
    bottom: -140px;
    height: 140px;
    left: calc(50% - 7em);
    padding: 15px;
    position: absolute;
    transition: bottom .5s cubic-bezier(0.5, 0.2, 0.3, 1.0);
    width: 14em;
    z-index: 2;

    &:hover {
      animation: none;
      bottom: 0;

      &:after {
        opacity: 0;
      }

      &:before {
        border-bottom-color: $color-paper-wet;
      }
    }

    &:after {
      color: $link-color;
      content: "View more";
      font-family: $font-family-sans-serif;
      font-weight: 300;
      left: calc(50% - 2.25em);
      position: absolute;
      text-align: center;
      top: -90px;
      transition: opacity .25s cubic-bezier(0.5, 0.2, 0.3, 1.0);

      .inverse & {
        color: #FFF;

        a {
          color: #000;
        }
      }
    }

    &:before {
      border-bottom: 220px solid $color-paper-wet;
      border-bottom-color: rgba(255,255,255,.5);
      border-left: 220px solid rgba(0, 0, 0, 0);
      border-right: 220px solid rgba(0, 0, 0, 0);
      content: "";
      display: block;
      height: 0;
      left: calc(50% - 220px);
      position: absolute;
      top: -60px;
      transition: border-bottom-color .5s cubic-bezier(0.5, 0.2, 0.3, 1.0);
      vertical-align: middle;
      width: 0;
      z-index: -1;
    }
  }

  @include breakpoint("large") {
    bottom: -160px;
    height: 160px;
    padding: 20px;

    &:after {
      top: -120px;
    }

    &:before {
      border-bottom-width: 240px;
      border-left-width: 240px;
      border-right-width: 240px;
      left: calc(50% - 240px);
      top: -80px;
    }
  }

  *:last-child {
    margin-bottom: 0;
  }

  a {
    color: #000;
    text-transform: uppercase;
  }

  h2 {
    font-size: inherit;
    margin-bottom: 1em;
  }

  [class^="icon-"] {
    height: 30px;
    display: block;
    left: calc(50% - 15px);
    position: absolute;
    top: -35px;
    width: 30px;

    svg {
      fill: $color-gray;
      height: 370px;
      vertical-align: bottom;
      width: 370px;
    }
  }
}

@keyframes look-at-me {
  0%   {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(0px, 10px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
