ul.posts {
  list-style-type: none;
  margin-bottom: 2em;

  li {
    line-height: 1.75em;
  }

  span {
    color: $color-muted;
    font-family: $font-family-code;
    font-size: 80%;
  }
}

/* standard */
.post {

  .byline {
    font-style: italic;
  }

  /* terminal */
  pre.terminal {
    border: 1px solid #000;
    background-color: #333;
    color: #FFF;
  }

  pre.terminal code {
    background-color: #333;
  }
}

.post-entry {
  @include breakpoint("medium") {
    p {
      max-width: 30em;
    }
  }
}

.post-content {
  color: #505050;
  font-size: 1.375em;

  p:first-child {
    font-size: 1.2em;
  }
}

.post-full {
  width: 100%;

  @include breakpoint("medium") {
    height: 100vh;
  }

  .post-content {

    @include breakpoint("medium") {
      border-left: 1px solid $color-gray-light;
      padding-left: 4.5rem;
      @extend %large-text;
    }
  }

  .title {
    @include typecsset-font-size($typecsset-h2-size);

    @include breakpoint("medium") {
      @include typecsset-font-size($typecsset-h1-size);
      margin-bottom: 3rem;
    }

    @include breakpoint("large") {
      font-size: 4em;
    }
  }

  footer {
    color: rgba(0,0,0, .4);

    @include breakpoint("medium") {
      margin-right: 1.5rem;
      order: -1;
      text-align: center;
      width: 4em;

      span {
        display: block;
      }

      .day {
        line-height: .95;
      }

      .month {
        font-weight: 700;
      }

      .year {
        line-height: 1;
      }
    }
  }
}

@media (max-width: 740px) {
  .post .slabtextdone .slabtext {
    display: inline;
    font-size: 1em !important;
  }
}

.post-portfolio {

  section {
    position: relative;
  }

  .img-bg-content {
    background-color: #FFF;
    opacity: 1 !important; // need to override scrolling opacity in JS
  }

  .section-title {
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .role {
    padding-top: 2rem;

    h2,
    h3 {
      font-family: $font-family-sans-serif;
    }

    .table-info td {
      border-bottom: 2px solid #FFF;
      padding-bottom: 2rem;
    }

    .content p {
      border-bottom: 2px solid #FFF;
      padding-bottom: 2rem;
    }

    .grid {
      margin-bottom: 2rem;
    }

    .pizza-pie {
      margin-left: -3rem;
      margin-top: -3rem;
    }

    .intro .pizza-toppings {
      text-align: right;

      @include breakpoint("large") {
        font-size: 1.5em;
      }
    }

    .breakdown {

      h3 {
        font-weight: 200;

        @include breakpoint("medium") {
          @include typecsset-font-size($typecsset-h4-size);
        }

        @include breakpoint("large") {
          @include typecsset-font-size($typecsset-h3-size);
        }

        b {
          font-weight: 700;
        }
      }

      .grid-cell {
        position: relative;
      }

      .pizza-toppings {
        @include breakpoint("medium") {
          font-size: .85em;
        }
        @include breakpoint("large") {
          font-size: 1em;
        }
      }
    }

    .pie-chart {
      float: left;
      margin-right: 40px;
      width: 50%;
    }
  }
}
