ul.posts {
  list-style-type: none;
  margin-bottom: 2em;

  li {
    line-height: 1.75em;
  }

  span {
    color: $color-muted;
    font-family: $font-family-code;
    font-size: 80%;
  }
}

/* standard */
.post {

  h1,
  h2,
  h3 {
    font-family: $font-family-sans-serif;
  }

  header {
    margin-bottom: 1.5rem;
  }

  .excerpt {
    color: $color-gray;
    font-size: 1.5rem;
  }

  /* terminal */
  pre.terminal {
    border: 1px solid #000;
    background-color: #333;
    color: #FFF;
  }

  pre.terminal code {
    background-color: #333;
  }
}

.post-excerpt {

  footer {
    border-right: 1px solid $color-gray-light;
    margin-right: 4.5rem;
    order: -1;
    padding-right: 1.5rem;
    text-align: center;
    width: 7.5rem;

    .day {
      line-height: .8;
    }

    .month {
      font-weight: 700;
    }

    .year {
      line-height: 1;
    }
  }
}
