.thumb-grid .thumb {
  background-color: #FFF;
  color: $color-gray-dark;
  height: 200px;
  margin: 20px 10px 20px 0;
  position: relative;
  width: 90%;

  &:hover,
  &.hover {

    .browser-chrome {
      box-shadow: 0 5px 8px rgba(0, 0, 0, .2);
      opacity: 1;
    }

    .description {
      white-space: normal;
    }
  }

  .browser-chrome {
    box-shadow: 0 0 0 rgba(0, 0, 0, .05);
    opacity: .65;
    transition: box-shadow .2s cubic-bezier(.17,.67,.83,.67) 0s;
  }

  .img-cover {
    background-position: center top;
    height: 180px;
  }
}

.no-flexbox {
  .thumb-grid .thumb {
    float: left;
  }
}

.thumb-grid .thumb {

  @include breakpoint("medium") {
    // 40rem
    margin-bottom: 15px;
    margin-right: 2rem;
    margin-top: 15px;
    width: 19rem;

    &:nth-child(2n+1) {
      margin-right: 0;
    }
  }

  @include breakpoint("large") {
    // 55rem
    margin-bottom: 20px;
    margin-right: 2rem;
    width: 17rem;

    &:nth-child(2n+1) {
      margin-right: 2rem;
    }

    &:nth-child(3n+3) {
      margin-right: 0;
    }
  }
}
