$tooltip-arrow-size: 6px;
$tooltip-background-color: rgba(0,0,0, .9);
$tooltip-color: #FFF;

@include breakpoint("medium") {
  .tooltip {
    background: $tooltip-background-color;
    border-radius: 3px;
    box-shadow: 1px 1px 10px 0 rgba(0,0,0, .05);
    color: $tooltip-color;
    font-size: 12px;
    line-height: 1;
    margin-left: $tooltip-arrow-size+1px;
    padding: .8em;
    position: absolute;
    white-space: nowrap;
    width: auto;
    z-index: 9999;

    &:after {
      content: "";
      display: block;
      height: 0;
      left: 0;
      position: absolute;
      top: 50%;
      width: 0;
    }
  }

  .tooltip-right {
    position: relative;

    .tooltip:after {
      border-bottom: $tooltip-arrow-size solid transparent;
      border-right: $tooltip-arrow-size solid $tooltip-background-color;
      border-top: $tooltip-arrow-size solid transparent;
      margin-left: -($tooltip-arrow-size);
      margin-top: -($tooltip-arrow-size);
    }
  }
}
