/*------------------------------------*\
    #SHARED
\*------------------------------------*/

/**
 * A lot of elements in Typecsset need to share some declarations (mainly for
 * vertical rhythm), so we `@extend` some silent classes.
 */
%typecsset-reset {
  margin:  0;
  padding: 0;
}

%typecsset-vertical-rhythm {
  @extend %typecsset-reset;
  margin-bottom: $typecsset-magic-number;
  margin-bottom: $typecsset-magic-ratio + rem;
}


%transition-slow {
  transition: all .75s cubic-bezier(.17,.67,.83,.67) 0s;
}

%transition-medium {
  transition: all .5s cubic-bezier(.17,.67,.83,.67) 0s;
}

%transition-fast {
  transition: all .25s cubic-bezier(.17,.67,.83,.67) 0s;
}

%small-text {
  font-size: $font-size-small;
}

%large-text {
  font-size: $font-size-large;
}

%fat-skinny {
  font-weight: 200;

  b {
    font-weight: 800;
  }
}
