<section class="section__links" id="section__links">
  <div class="content">
    <nav class="col-one-fifth page-links">
      <h3>Pages</h3>
      <a href="/index.html">Home</a>
      <a href="/about.html">About</a>
      <a href="/portfolio.html">Portfolio</a>
      <a href="/blog.html">Blog</a>
      <a href="/resources.html">Resources</a>
    </nav>
    <div class="col-three-fifths contact-form">
      <h3>Contact</h3>
      <!-- <form method="post" action="http://contact.example.com" class="validate" name="contact-form" id="contact-form">
        <div class="group">
          <label for="name" class="sr-only">Name</label>
          <input type="text" name="name" id="name"  class="text-input required email fullwidth" placeholder="Your name">
        </div>
        <div class="group">
          <label for="email" class="sr-only">Email Address</label>
          <input type="email" name="email" id="email" class="text-input required email fullwidth" placeholder="Your email address">
        </div>
        <div class="cf" id="responses">
          <div style="display:none" id="error-response" class="response"></div>
          <div style="display:none" id="success-response" class="response"></div>
        </div>
        <div class="group">
          <label for="body" class="sr-only">Message</label>
          <textarea name="body" id="body" class="fullwidth" placeholder="Write your message"></textarea>
        </div>
        <div class="cf">
          <button type="submit" class="btn__primary" id="send" name="send" value="Subscribe">Send</button>
        </div>
      </form> -->
      <script type="text/javascript">var zuj15za0z3yma6;(function(d, t) {
      var s = d.createElement(t), options = {
      'userName':'nicmarson',
      'formHash':'zuj15za0z3yma6',
      'autoResize':true,
      'height':'517',
      'async':true,
      'host':'wufoo.com',
      'header':'show',
      'ssl':true};
      s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
      s.onload = s.onreadystatechange = function() {
      var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
      try { zuj15za0z3yma6 = new WufooForm();zuj15za0z3yma6.initialize(options);zuj15za0z3yma6.display(); } catch (e) {}};
      var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
      })(document, 'script');</script>
    </div>
    <nav class="col-one-fifth social-links">
      <h3>Social</h3>
      <a href="mailto:nicmarson@gmail.com" class="social tooltip-right">
        <span>Email <small class="tooltip">nicmarson@gmail.com</small></span>
        <i class="icon typcn typcn-mail"></i>
      </a>
      <a href="http://github.com/nicmarson/" class="social tooltip-right">
        <span>Github <small class="tooltip">github.com/nicmarson</small></span>
        <i class="icon typcn typcn-social-github"></i>
      </a>
      <a href="http://twitter.com/nicmarson/" class="social tooltip-right">
        <span>Twitter <small class="tooltip">twitter.com/nicmarson</small></span>
        <i class="icon typcn typcn-social-twitter"></i>
      </a>
      <a href="http://www.linkedin.com/in/nicmarson" class="social tooltip-right">
        <span>LinkedIn <small class="tooltip">linkedin.com/in/nicmarson</small></span>
        <i class="icon typcn typcn-social-linkedin"></i>
      </a>
      <a href="http://www.facebook.com/nicmarson" class="social tooltip-right">
        <span>Facebook <small class="tooltip">facebook.com/nicmarson</small></span>
        <i class="icon typcn typcn-social-facebook"></i>
      </a>
    </nav>
  </div>
</section>
