<figure id="{{ post.name }}" class="item">
  <a class="aspect-ratio" href="{{ post.url }}">
    <img class="item-image img-responsive" src="images/portfolio/{{ post.name }}/thumb.jpg" alt="{{ post.title }} thumbnail">
  </a>
  <figcaption class="item-meta">
    <div class="block--small">
      <h2 class="item-title"><a href="{{ post.url }}">{{ post.title }} <span>{{ post.date | date: "%Y" }}</span></a></h2>
      <div class="item-desc">
        <svg class="shape-camera svg-inline">
          <use xlink:href="#shape-camera"/>
        </svg> {% if post.role %}{{ post.role }}{% else %}Contractor{% endif %}<br>
        {% if post.solo %}
        <svg class="shape-user svg-inline">
          <use xlink:href="#shape-user"/>
        </svg>
        {% else %}
        <svg class="shape-users svg-inline">
          <use xlink:href="#shape-users"/>
        </svg>
        {% endif %} {% if post.solo %}Solo project{% else %}Team project{% endif %}
      </div>
    </div>
    <div class="block--small">
        <div class="item-excerpt">{{ post.excerpt }}</div>
        <div class="item-desc muted">
          <svg class="shape-tags svg-inline">
            <use xlink:href="#shape-tags"/>
          </svg> {{ post.tags | array_to_sentence_string }}
        </div>
    </div>
  </figcaption>
</figure>
