<figure id="{{ post.name }}" class="item">
  <a href="{{ post.url }}">
    <img class="img-responsive" src="images/portfolio/{{ post.name }}/thumb.jpg" alt="{{ post.title }} thumbnail">
    <figcaption>
      <h2 class="title--meta">{{ post.date | date: "%Y" }} <b>{{ post.title }}</b></h2>
      <div class="item__meta">
        <dl class="dl-horizontal">
          <dt><svg class="shape-camera svg-inline">
              <use xlink:href="#shape-camera"/>
            </svg> Role</dt>
          <dd>{% if post.role %}{{ post.role }}{% else %}Contractor{% endif %}</dd>
          <dt>{% if post.solo %}
            <svg class="shape-user svg-inline">
              <use xlink:href="#shape-user"/>
            </svg>
            {% else %}
            <svg class="shape-users svg-inline">
              <use xlink:href="#shape-users"/>
            </svg>
            {% endif %} Team</dt>
          <dd>{% if post.solo %}Solo project{% else %}Team project{% endif %}</dd>
          <dt><svg class="shape-tags svg-inline">
            <use xlink:href="#shape-tags"/>
          </svg> Tags</dt>
          <dd>{{ post.tags | array_to_sentence_string }}</dd>
        </dl>
      </div>
    </figcaption>
  </a>
</figure>
