<div id="{{ post.name }}" class="component__item portfolio__item">
  <a href="{{ post.url }}" class="component__link">
    {% if post.thumb-ext %}<div class="img">
      <!-- <img src="images/portfolio/{{ post.name }}/thumb.{{ post.thumb-ext }}" alt="{{ post.title }} thumbnail"> -->
      <img src="http://fillmurray.com/g/200/200" alt="{{ post.title }} thumbnail">
    </div>{% endif %}
    <div class="meta" style="background-color: #{{ post.color-dark }}">
      <span class="description">{{ post.date | date: "%Y" }} <b>{{ post.title }}</b></span>
      <span class="tags">{{ post.tags | array_to_sentence_string }}</span>
      {% if post.design-percent & post.devel-percent %}
      <span class="skills">
        <span class="progress">
          <span class="progress-bar show-me animated" role="progressbar" aria-valuenow="{{ post.design-percent }}" aria-valuemin="0" aria-valuemax="{{ post.design-percent }}" style="width: {{ post.design-percent }}%;">
            Design
          </span>
        </span>
        <span class="progress">
          <span class="progress-bar show-me animated" role="progressbar" aria-valuenow="{{ post.devel-percent }}" aria-valuemin="0" aria-valuemax="{{ post.devel-percent }}" style="width: {{ post.devel-percent }}%;">
            Development
          </span>
        </span>
      </span>
      {% endif %}
      {% if post.solo %}<span class="icon-star"></span>{% endif %}
    </div>
  </a>
</div>
