// Close icon
//
// Use the generic close icon for dismissing content like modals and alerts.
//
// Markup: <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
//
// Styleguide 1.11.1

.close {
  color: $white;
  font-size: 3rem;
  line-height: 1;
  opacity: .5;
  position: absolute;
  right: 1.25rem;
  text-transform: uppercase;
  top: .4rem;

  &:hover,
  &:focus {
    cursor: pointer;
    opacity: .8;
  }
}

// Additional properties for button version
// iOS requires the button element instead of an anchor tag.
// If you want the anchor version, it requires `href="#"`.
button.close {
  background: transparent;
  border: 0;
  cursor: pointer;
  padding: 0;
  -webkit-appearance: none;
}
