.device {
  position: relative;
  top: 50%;
  transform-style: preserve-3d;
  transform: translateY(-55%);
  width: 100%;

  .part {
    border: 0 solid transparent; // Without this borders don't show up in animations
    transform-style: preserve-3d;
    @extend %transition-slow;
    will-change: border-radius, height, left, top, width;
  }

  .frame {
    background: palette(grey, darkest);
    border-radius: 10px;
    margin-left: 20%;
    padding: 4% 1% 60px;
    width: 60%;

    @include mq($from: double) {
      margin-left: 20%;
      padding: 6% 6% 50px;
      width: 60%;
    }

    @include mq($from: triple) {
      margin-left: 5%;
      padding: 3.8%;
      width: 90%;
    }
  }

  .screen {
    background: palette(grey, lighter);
    height: 0;
    overflow: hidden;
    padding-bottom: 170%;
    width: 100%;

    @include mq($from: double) {
      padding-bottom: 150%;
    }

    @include mq($from: triple) {
      padding-bottom: 56.25%;
    }

    @include mq($from: quadruple) {
      padding-bottom: 56.25%;
    }

    img {
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }

  .base {
    background: palette(grey, light);
    border-radius: 5px;
    bottom: 12px;
    height: 36px;
    left: calc(50% - 18px);
    position: absolute;
    width: 36px;

    @include mq($from: double) {
      bottom: 15px;
      height: 18px;
      left: calc(50% - 25px);
      width: 50px;
    }

    @include mq($from: triple) {
      border-radius: 100px;
      bottom: auto;
      height: 18px;
      left: auto;
      margin: 0 auto;
      position: relative;
      width: 94%;
    }

    @include mq($from: quadruple) {
      height: 15px;
      margin-top: 40px;
      width: 28%;
    }
  }

  // browser animation
  &--scroll .screen img {
    animation: scroll 16s 1s cubic-bezier(.25, .1, .25, 1) infinite;
  }
}
