//////////////////////////////////////////////////
// individual item listing with image and details
//////////////////////////////////////////////////
.item {
  background-color: $white;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0,0,0,.33);
  display: block;
  font-family: $font-family-condensed;
  font-weight: 400;
  margin-bottom: 1.5rem;
  overflow: hidden;
  position: relative;
  @extend %transition-fast;

  @include mq($from: double) {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
  }

  &:hover,
  &:focus,
  &:active {
    border-radius: 0;
    box-shadow: 0 0 3px rgba(0,0,0,.15)
  }

  a {
    color: palette(orange);
    display: block;
  }

  img {
    @include img-responsive();
  }

  .aspect-ratio {
    display: block;
    height: 0;
    overflow: hidden;
    padding-bottom: 100%;
    width: 100%;
  }
}

.item-image {
  border-bottom: 1px solid palette(grey);
}

.item-meta {
  color: palette(grey, darker);

  svg {
    fill: palette(grey);
  }

  .block--small:nth-child(2n+2) {
    border-top: 1px solid rgba(0,0,0,0.09);
  }
}

.item-title {
  color: palette(grey, darkest);
  font-size: 18px;
  letter-spacing: .0125em;
  margin-bottom: .5em;

  &--entry {
    font-size: 24px;
    margin-bottom: .75rem;
  }
}

.item-desc {
  margin-bottom: .5em;

  &--author {
    color: palette(grey, dark);
  }
}

.item-excerpt {
  font-size: 1rem;
  margin-bottom: .5em;
}
