//////////////////////////////////////////////////
// individual item listing with image and details
//////////////////////////////////////////////////
.item {
  background-color: $white;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0,0,0,.33);
  display: block;
  font-family: $font-family-condensed;
  font-weight: 400;
  overflow: hidden;
  position: relative;

  @include mq($from: double) {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
  }
}

.item-category {
  float:left;
  margin:1rem .5rem .625rem .625rem;
  width:1.875rem
}

.item-meta--entry {
  padding:1rem
}

.item-desc {
  color: #2D3138;
  overflow:hidden;
  border-top:1px solid rgba(0,0,0,0.0902);
  padding:.75rem;
}

.item-desc--author {
  color:#838d94
}

.item-title {
  color: #2D3138;
  font-size: 1em;
  line-height:1.5;
  margin-bottom: 0;
}

.item-title--entry {
  font-size:1.125em;
  line-height:1.5;
  margin-bottom: 1rem;
}

.item-details {
  color: #838D94;
  line-height:1.1428571429
}

.item-excerpt {
  color: #2D3138;
  line-height:1.7142857143;
  margin-bottom:0
}

.item blockquote {
  border:none;
  margin:0;
  padding:1rem
}

.item blockquote p:last-of-type {
  margin-bottom:1em
}

.item blockquote cite {
  margin-bottom:1rem
}

.item blockquote cite:before {
  content:none
}

.item:hover,.item:focus,.item:active {
  box-shadow:0 0 3px rgba(0,0,0,0.15)
}

.item:hover .item-more,.item:focus .item-more,.item:active .item-more {
  color:#c6a87b
}
