.modal {
  @include centerer();
  background-color: palette(grey, darker);
  border-radius: 4px;
  min-width: 38em;
  padding: 1.5rem;
  z-index: z(overlay);

  @include mq($from: tablet) {
    position: fixed;
  }

  .js & {
    display: none;
  }

  .title--overlay {
    padding-bottom: 1em;
  }
}
