nav[role=navigation] {
  padding-top: 30px;

  a {
    border-bottom: 1px solid transparent;
    color: $nav-link-color;
    display: inline-block;
    letter-spacing: .0125em;
    margin-right: .8em;
    padding: .2em;
    text-transform: uppercase;
    @extend %transition-fast;

    &:focus,
    &:hover {
      border-bottom-color: lighten($nav-link-color-hover, 6);
      color: $nav-link-color-hover;
    }

    &.active {
      border-bottom-color: $nav-link-color-active;
      color: $nav-link-color-active;
    }
  }

  @include mq($to: desktop) {

    .js & {
      display: none;
    }
  }

  @include mq($from: desktop) {

    .js & {
      display: block;
    }
  }
}
