nav[role=navigation],
.nav {
  margin-left: 0;

  a {
    color: $nav-link-color;
    @extend %transition-fast;
  }
}

.nav {

  a {
    display: block;
    padding: .25em 1em;
  }

  &:focus,
  &:hover {
    color: $nav-link-color-hover;
  }

  &.active {
    color: $nav-link-color-active;
  }
}
