/* standard */
.post {

  .byline {
    font-style: italic;
  }

  /* terminal */
  pre.terminal {
    border: 1px solid #000;
    background-color: #333;
    color: #FFF;
  }

  pre.terminal code {
    background-color: #333;
  }
}

.post-entry {
  @include mq($from: desktop) {
    p {
      max-width: 30em;
    }
  }
}

.post-content {
  color: #505050;
  font-family: $font-family-serif;

  @include mq($from: desktop) {
    font-size: 1.375em;
  }

  p {
    margin-bottom: 1.5em;
  }

  p:first-child {
    font-size: 1.2em;
  }
}

.post-full {
  width: 100%;

  @include mq($from: desktop) {
    height: 100vh;
  }

  .content {
    position: relative;

    @include mq($from: desktop) {
    }

    @include mq($from: huge) {
    }
  }

  .post-content {

    @include mq($from: desktop) {
      font-size: $font-size-large;
    }
  }

  .title {
    font-size: $font-size-h2;

    @include mq($from: desktop) {
      font-size: $font-size-h1;
      margin-bottom: 3rem;
      margin-left: -5rem;
    }

    @include mq($from: huge) {
      font-size: 4em;
      margin-left: -10rem;
    }
  }

  footer {
    color: rgba(0,0,0, .4);

    @include mq($from: desktop) {
      left: 0;
      position: absolute;
      text-align: center;
      width: 4em;

      span {
        display: block;
      }

      .day {
        line-height: .95;
      }

      .month {
        font-weight: 700;
        text-transform: uppercase;
      }

      .year {
        line-height: 1;
      }
    }
  }
}

@media (max-width: 740px) {
  .post .slabtextdone .slabtext {
    display: inline;
    font-size: 1em !important;
  }
}

.post-portfolio {

  section {
    position: relative;
  }

  .title {
    line-height: 1.3;
  }

  .table-info td {
    border-bottom: 8px solid $color-gray-light;
    padding-bottom: 2rem;
  }

  .grid {
    margin-bottom: 2rem;

    @include mq($from: huge) {
      margin-bottom: 3rem;
    }
  }

  .pizza-pie {
    margin-left: -3rem;
    margin-top: -3rem;
  }

  .intro .pizza-toppings {
    text-align: right;

    @include mq($from: huge) {
      font-size: 1.5em;
    }
  }

  .breakdown {

    .grid-cell {
      position: relative;
    }

    .pizza-toppings {
      @include mq($from: desktop) {
        font-size: .85em;
      }
      @include mq($from: huge) {
        font-size: 1em;
      }
    }
  }

  .pie-chart {
    float: left;
    margin-right: 40px;
    width: 50%;
  }
}
