.tooltip {
  border-radius: 3px;
  box-shadow: 1px 1px 10px 0 rgba(0,0,0, .05);
  line-height: 1;
  position: absolute;
  white-space: nowrap;
  width: auto;
  z-index: z(dropdown);

  &:after {
    content: "";
    display: block;
    height: 0;
    position: absolute;
    width: 0;
  }

  &--top {
    @extend .tooltip;
    @include centerer(absolute, horizontal);

    &:after {
      @include centerer(absolute, horizontal);
    }
  }
}

.popup {
  animation-duration: .25s;
  animation-fill-mode: both;
  display: block;
  left: 0;
  opacity: 0;
  overflow-y: auto;
  position: absolute;
  top: 100%;
  transform-origin: left bottom;
  transform: rotate3d(0, 0, 1, 45deg);
  @extend %transition-fast;
  width: 100%;
  z-index: z(default);

  &--container {
    position: relative;
  }

  &--input {
    display: none;

    &:checked {

      ~ .popup {
        animation-name: rotateInUpLeft;
      }
    }
  }

  &--toggle {
    cursor: pointer;
    @extend %transition-fast;
    z-index: (z(default) + 1);
  }
}


