---
layout: 00-default
title: Portfolio
slug: portfolio
---

<main role="main">
  {% include 02-organisms/00-global/00-header.html %}
  <article class="flex--row portfolio__screens">
    {% for post in site.categories['portfolio'] %}
      {% include 02-organisms/01-sections/02-section-portfolio.html %}
    {% endfor %}
  </article>
  {% include 02-organisms/00-global/01-footer.html %}
</main>
<aside>
  <ul class="nav">{% include 01-molecules/01-navigation/01-portfolio-nav.html %}</ul>
</aside>
