---
layout: 00-default
title: Resources
slug: resources
class: resources
---

<article class="row row--three">
  <div class="group group--two">
  {% for post in site.categories['blog'] %}
    {% capture this_month %}{{ post.date | date: "%B" }} <span>{{ post.date | date: "%Y" }}</span>{% endcapture %}
    {% capture next_month %}{{ post.previous.date | date: "%B" }} <span>{{ post.previous.date | date: "%Y" }}</span>{% endcapture %}
    <section class="block">
    {% if forloop.first %}
      <h2 class="title--section">{{ this_month }}</h2>
      <div class="row row--three thumbs">
    {% endif %}
      <div class="group group--{% if post.categories contains 'resource' %}one--gutter{% else %}two--gutter{% endif %} thumb">
        <figure class="item">
          <a href="{{ post.url }}">
            <img class="item-image" src="/images/post/{{ post.thumb }}">
            {% if post.categories contains 'resource' %}
            <figcaption class="item-meta">
              <div class="block--small">
                <h3 class="item-title">{{ post.title }}</h3>
                <div class="item-details">{{ post.tagline }}</div>
              </div>
              <div class="block--small">
                <div class="item-desc">Beautiful painting by Andy Luce</div>
              </div>
            </figcaption>
            {% else %}
            <figcaption class="item-meta">
              <div class="block--medium">
                <h3 class="item-title--entry">{{ post.title }}</h3>
                <p class="item-excerpt">{{ post.excerpt | remove: '<p>' | remove: '</p>' }} &hellip; <span class="item-more"> Continue Reading</span></p>
              </div>
            </figcaption>
            {% endif %}
          </a>
        </figure>
      </div>
    {% if forloop.last %}
      </div>
    {% else %}
      </div>
      <h2 class="title--section">{{ next_month }}</h2>
      <div class="row row--three thumbs">
    {% endif %}
    </section>
  {% endfor %}
  </div>

  <div class="group group--one sidebar">
    <div class="block inverse">
      <h1 class="title--block">Resources</h1>
      <p class="lead">A categorized collection of shiny and distracting things we’ve found scattered across the&nbsp;internets.</p>
      <div class="nav nav--list">
        <ul>
          <li><a href="/notebook/">View All</a>
          </li>
          {% for category in site.categories %}
          <li><a href="/tags/{{category | first}}/">
            {{ category | first }}
            <span class="badge">{{ category | last | size }}</span>
          </a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</article>
