$border-radius-base:        .125em !default;

$border-radius-small:       3px !default;
$border-radius-large:       8px !default;
$border-radius-huge:        12px !default;

$border-radius: (
  default: 5px,
  small: 3px,
  medium: 8px,
  large: 12px
);
