//== Colors
//
//

// Basic colors
$black: #000;
$white: #fff;
$grey:  #999;

// Flat colors
// http://codepen.io/rodriguesmarcos/pen/CapmI
$grapefruit: #ed5565; // red
$grapefruit-dark: #da4453; // red-dark
$bittersweet: #fc6e51; // orange
$bittersweet-dark: #e9573f; // orange-dark
$sunflower: #ffce54; // yellow
$sunflower-dark: #fcbb42; // yellow-dark
$grass: #a0d468; // yellow-green
$grass-dark: #8cc152; // yellow-green-dark
$mint: #48cfad; // blue-green
$mint-dark: #37bc9b; // blue-green-dark
$aqua: #4fc1e9; // light-blue
$aqua-dark: #3bafda; // light-blue-dark
$blue-jeans: #5d9cec; // blue
$blue-jeans-dark: #4a89dc; // blue-dark
$lavender: #ac92ec; // purple
$lavender-dark: #967adc; // purple-dark
$pink-rose: #ec87c0; // pink
$pink-rose-dark: #d770ad; // pink-dark

// Brand colors
$linkedin: #0976b4;
$twitter: #00aced;
$facebook: #3b5998;
$kippt: #d51007;
$pinterest: #cc2127;
$github: #4183c4;
$googleplus: #dd4b39;

$palettes: (
  blue: (
    base:   $blue-jeans,
    light:  lighten($blue-jeans, 10),
    dark:   $blue-jeans-dark
  ),
  red: (
    base:   $grapefruit,
    light:  lighten($grapefruit, 10),
    dark:   $grapefruit-dark
  ),
  pink-rose: (
    base:   $pink-rose,
    light:  lighten($pink-rose, 10),
    dark:   $pink-rose-dark
  ),
  yellow: (
    base:   $sunflower,
    light:  lighten($sunflower, 10),
    dark:   $sunflower-dark
  ),
  orange: (
    base:   $bittersweet,
    light:  lighten($bittersweet, 10),
    dark:   $bittersweet-dark
  ),
  grass: (
    base:   $grass,
    light:  lighten($grass, 10),
    dark:   $grass-dark
  ),
  mint: (
    base:   $mint,
    light:  lighten($mint, 10),
    dark:   $mint-dark
  ),
  lavender: (
    base:   $lavender,
    light:  lighten($lavender, 10),
    dark:   $lavender-dark
  ),
  grey: (
    base:  #AAB2BD,
    light: #CCD1D9,
    lighter: #E6E9ED,
    lightest: #F5F7FA,
    dark: $grey,
    darker: #656D78,
    darkest: #434A54
  )
);

// Color assignments
$body-bg-color:       $white;
$body-color:          palette(grey, darker);

$home-bg-color:       palette(red, light);
$home-nav-hover:      palette(red);

$portfolio-bg-color:  palette(mint, light);
$portfolio-nav-hover: palette(mint);

$about-bg-color:      palette(orange, light);
$about-nav-hover:     palette(orange);

$resources-bg-color:  palette(lavender, light);
$resources-nav-hover: palette(lavender);

$header-color:        $white;

$main-bg-color:       $white;
$main-color:          palette(grey, darker);

$footer-bg-color:     palette(grass, dark);
$footer-color:        $white;

$heading-color:       inherit;
$muted-color:         palette(grey, light);

// Links
$link-color:          palette(blue);
$link-hover-color:    palette(blue, dark);
$link-visited-color:  palette(blue, dark);

$nav-link-color:          $white;
$nav-link-visited-color:  $nav-link-color;
$nav-link-hover-color:    palette(grey, darker);

$nav-link-inverse-color:         $white;
$nav-link-inverse-color-hover:   $nav-link-inverse-color;

// Devices
$device-black: #1f1f1f;
$device-white: #f8f8f8;
$device-grey-light: #e8ebf0;
$device-grey: #e8ebf0;
$device-grey-dark: #d8dbe1;


//== Type
//
//##

//** Abbreviations and acronyms border color
$abbr-border-color:           palette(grey, light);
//** Blockquote small color
$blockquote-small-color:      palette(grey, light);
//** Blockquote border color
$blockquote-border-color:     palette(grey, lighter);
//** Page header border color
$page-header-border-color:    palette(grey, lighter);

//** Global color for active items (e.g., navs or dropdowns).
$component-active-color:      $body-bg-color;
//** Global background color for active items (e.g., navs or dropdowns).
$component-active-bg:         $link-color;

//** Horizontal line color.
$hr-border:                   palette(grey, lighter);

$card-bg-color:               $body-bg-color;

$portfolio-item-bg-color:       palette(grey, darker);
$portfolio-item-hover-bg-color: palette(grey, darkest);

// Forms
// -------------------------
$input-bg:                    $white;
$input-bg-disabled:           palette(grey, light);
$input-border-color:          palette(grey);
$input-focus-color:           palette(blue, light);
$placeholder-color:           palette(grey, light);

// Code
// -------------------------
$code-color:                  #c7254e !default;
$code-bg:                     #f9f2f4 !default;
$kbd-color:                   $white;
$kbd-bg:                      palette(grey, darker);
$pre-bg:                      palette(grey, lightest);
$pre-color:                   $body-color;
$pre-border-color:            palette(grey, light);


//== States
//
//## Define colors for form feedback states and, by default, alerts.

$state-success-text:             #3c763d !default;
$state-success-bg:               #dff0d8 !default;
$state-success-border:           darken(adjust-hue($state-success-bg, -10), 5%) !default;

$state-info-text:                #31708f !default;
$state-info-bg:                  #d9edf7 !default;
$state-info-border:              darken(adjust-hue($state-info-bg, -10), 7%) !default;

$state-warning-text:             #8a6d3b !default;
$state-warning-bg:               #fcf8e3 !default;
$state-warning-border:           darken(adjust-hue($state-warning-bg, -10), 5%) !default;

$state-danger-text:              #a94442 !default;
$state-danger-bg:                #f2dede !default;
$state-danger-border:            darken(adjust-hue($state-danger-bg, -10), 5%) !default;
