//== Colors
//
//

$black: #000;
$white: #fff;
$grey:  #999;

$blue: #008FD5;
$red: #E64B3B;

$palettes: (
  blue: (
    base:   $blue,
    light:  lighten($blue, 10),
    dark:   darken($blue, 10)
  ),
  red: (
    base:   $red,
    light:  lighten($red, 10),
    dark:   darken($red, 10)
  ),
  grey: (
    base:  $grey,
    light: lighten($grey, 10%),
    lighter: lighten($grey, 20%),
    lightest: lighten($grey, 30%),
    dark: darken($grey, 10%),
    darker: darken($grey, 20%),
    darkest: darken($grey, 30%)
  )
);

// .element {
//   background-color: map-get($colors, sky);
// }

// .element {
//     color: palette(purple);
//     &:hover {
//         color: palette(purple, light);
//     }
// }

// Color assignments
$body-bg-color:       $white;
$body-color:          palette(grey, dark);
$heading-color:       inherit;
$muted-color:         palette(grey, light);

// Links
$link-color:          palette(blue);
$link-hover-color:    palette(blue, dark);
$link-visited-color:  palette(blue, dark);

$nav-link-color:         palette(grey, light);
$nav-link-color-hover:   palette(grey);
$nav-link-color-active:  palette(red);


//== Type
//
//##

//** Abbreviations and acronyms border color
$abbr-border-color:           palette(grey, light);
//** Headings small color
$heading-small-color:         palette(grey, light);
//** Blockquote small color
$blockquote-small-color:      palette(grey, light);
//** Blockquote border color
$blockquote-border-color:     palette(grey, lighter);
//** Page header border color
$page-header-border-color:    palette(grey, lighter);

//** Global color for active items (e.g., navs or dropdowns).
$component-active-color:      $body-bg-color;
//** Global background color for active items (e.g., navs or dropdowns).
$component-active-bg:         $link-color;

//** Horizontal line color.
$hr-border:                   palette(grey, lighter);

$card-bg-color:               $body-bg-color;

$portfolio-item-bg-color:       palette(grey, darker);
$portfolio-item-hover-bg-color: palette(grey, darkest);

// Forms
// -------------------------
$input-bg:                    $white;
$input-bg-disabled:           palette(grey, light);
$input-border-color:          palette(grey);
$input-focus-color:           palette(blue, light);
$placeholder-color:           palette(grey, light);

// Code
// -------------------------
$code-color:                  #c7254e !default;
$code-bg:                     #f9f2f4 !default;
$kbd-color:                   $white;
$kbd-bg:                      palette(grey, darker);
$pre-bg:                      palette(grey, lightest);
$pre-color:                   $body-color;
$pre-border-color:            palette(grey, light);


//== States
//
//## Define colors for form feedback states and, by default, alerts.

$state-success-text:             #3c763d !default;
$state-success-bg:               #dff0d8 !default;
$state-success-border:           darken(adjust-hue($state-success-bg, -10), 5%) !default;

$state-info-text:                #31708f !default;
$state-info-bg:                  #d9edf7 !default;
$state-info-border:              darken(adjust-hue($state-info-bg, -10), 7%) !default;

$state-warning-text:             #8a6d3b !default;
$state-warning-bg:               #fcf8e3 !default;
$state-warning-border:           darken(adjust-hue($state-warning-bg, -10), 5%) !default;

$state-danger-text:              #a94442 !default;
$state-danger-bg:                #f2dede !default;
$state-danger-border:            darken(adjust-hue($state-danger-bg, -10), 5%) !default;
