// Forms
// -------------------------
$input-bg:                        #fff !default;
$input-bg-disabled:               $color-gray-light !default;
$input-border:                    1px solid $color-gray !default;
$input-border-radius:             $border-radius-base !default;
$input-border-focus:              #66afe9 !default;
$input-color:                     #555555;

$placeholder-text-color:          $color-gray-light !default;
