//== Media queries
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.

// Extra small screen / phone
$screen-xs:                  320px !default;

// Small screen / tablet
$screen-sm:                  767px !default;

// Medium screen / desktop
$screen-md:                  992px !default;

// Large screen / wide desktop
$screen-lg:                  1200px !default;

// X-Large screen / x-wide desktop
$screen-xl:                  1600px !default;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm - 1);
$screen-sm-max:              ($screen-md - 1);
$screen-md-max:              ($screen-lg - 1);
$screen-lg-max:              ($screen-xl - 1);


//== Grid system
//
//## Define your custom responsive grid.

//** Number of columns in the grid.
$grid-columns:              12 !default;
//** Padding between columns. Gets divided in half for the left and right.
$grid-gutter-width:         30px !default;


// Navbar collapse
//** Point at which the navbar becomes uncollapsed.
$grid-float-breakpoint:     $screen-sm;
//** Point at which the navbar begins collapsing.
$grid-float-breakpoint-max: ($grid-float-breakpoint - 1);


// == Breakpoint map
//

// To enable support for browsers that do not support @media queries,
// (IE <= 8, Firefox <= 3, Opera <= 9) set $mq-responsive to false
// Create a separate stylesheet served exclusively to these browsers,
// meaning @media queries will be rasterized, relying on the cascade itself
$mq-responsive: true;

$mq-breakpoints: (
  mobile:      $screen-xs,
  tablet:      $screen-sm,
  desktop:     $screen-md,
  cinema:      $screen-lg,
  huge:        $screen-xl
);


// Media Query mixin
// Usage:
// .element {
//   @include mq($from: mobile) {
//     color: red;
//   }
//   @include mq($to: tablet) {
//     color: blue;
//   }
//   @include mq(mobile, tablet) {
//     color: green;
//   }
//   @include mq($from: tablet, $and: '(orientation: landscape)') {
//     color: teal;
//   }
//   @include mq(950px) {
//     color: hotpink;
//   }
// }
