//== Progress bars
//
//##

//** Background color of the whole progress component
$progress-bg:                 #FFF !default;
//** Progress bar text color
$progress-bar-color:          #FFF !default;

//** Default progress bar color
$progress-bar-bg:             $color-red !default;
