//== Progress bars
//
//##

//** Background color of the whole progress component
$progress-bg:                 $white;
//** Progress bar text color
$progress-bar-color:          $white;

//** Default progress bar color
$progress-bar-bg:             palette(red);
