$padding-base:              .5em;
$padding-base-vertical:     $padding-base/2;
$padding-base-horizontal:   $padding-base;

$padding-large:             .7em;
$padding-large-vertical:    $padding-large/2;
$padding-large-horizontal:  $padding-large;

$padding-small:             .3em;
$padding-small-vertical:    $padding-small/2;
$padding-small-horizontal:  $padding-small;
