//== Typography
//
//## Weight, line-height, and size for body text, headings, and more.


// Font sizes
$font-size-sm:                14px;
$font-size-md:                16px;
$font-size-lg:                20px;
$typecsset-base-font-size:    1rem;
$font-size-small:             75% !default;
$font-size-large:             150% !default;

$font-size-headline:          3.25rem;  // ~52px
$font-size-h1:                3rem;     // ~48px
$font-size-h2:                2.5rem;   // ~40px
$font-size-h3:                2rem;     // ~32px
$font-size-h4:                1.5rem;   // ~24px
$font-size-h5:                1rem;     // ~16px
$font-size-h6:                .875rem;  // ~14px

//** Blockquote font size
$blockquote-font-size:        1.25rem;

// Font line-height

//** Unit-less `line-height` for use in components like buttons.
$line-height-base:            1.5; // 24/16
//** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
$line-height-computed:        24px; // based on a 16px font-size

$typecsset-base-line-height:  $line-height-base;

$line-height-large:           1.33 !default;
$line-height-small:           1.5 !default;

$heading-line-height:         1.1 !default;


// Font weights
$heading-weight:          700;
$small-caps-weight:       600;


// Typecsset settings

// Would you like indented (rather than spaced) paragraph delimiting?
$typecsset-indented-paragraphs: false !default;

// Would you like to show a baseline grid? This is handy during development.
$typecsset-show-baseline:       false !default;

$typecsset-magic-number:        $line-height-computed;
$typecsset-magic-ratio:         1.5;

$base-spacing-unit:             1rem;
