//-- Z-index master list
//
// Warning: Avoid customizing these values. They're used for a bird's eye view
// of components dependent on the z-axis and are designed to all work together.
//
// Note: These variables are not generated into the Customizer.

$z-layers: (
  bottomless-pit: -9999,
  default: 1,
  fixed-nav: 2000,
  dropdown: 3000,
  overlay: 4000,
  modal: 4001
);

// .element {
//   z-index: z(fixed-nav);
//   z-index: (z(default) + 1);
//   z-index: (z(default) - 1);
// }
