@include breakpoint("medium") {

  .page-2-col {
    flex-direction: row;

    /* stupid IE10 tweener syntax */
    -ms-flex-preferred-size: auto;

    .page-first {
      flex: 1;

      // flex: 1;
      // the `flex` rule above should be applied but it's causing
      // problems in IE10 and IE11. Not specifying a `flex` property
      // and using the `-ms-flex` property here seems to make it
      // work in all browsers for whatever reason
      -ms-flex: 1 auto;
      flex: 0 1 150px;
    }

    .page-first {
      order: 1;
    }

    .page-second {
      order: 2;
    }
  }

  .site-nav-closed .page-2-col > .page-first {
    flex: 0 1 50px;
  }
}
