.feature {
  @include typecsset-space(margin-bottom);
  padding: 0 20px;
  position: relative;

  @include breakpoint("medium") {
    padding: 0 20px 0 70px;
  }

  @include breakpoint("large") {
    padding: 0;
  }
}

.feature-title {
  @include typecsset-font-size($typecsset-h1-size);
  font-weight: 700;
}

.feature-meta {
  font-family: $font-family-serif;
}

.feature-content {
  margin-bottom: 1.5rem;
}

.feature-figure {
  margin-bottom: 1.5rem;

  a {
    background: #EEE;
    border-radius: 3px;
    display: block;
    padding: 4px;

    &:hover {
      background: $color-blue;
    }
  }

  @include breakpoint("medium") {
    overflow: hidden;
    width: auto;
  }
}

.feature-image {
  border: 1px solid $color-gray-light;
  height: auto;
  max-width: 100%;
}

.feature-description {
  font-family: $font-family-serif;
  @include typecsset-font-size($typecsset-h5-size);
  line-height: 1.5;
  margin: 0;
  max-width: 40em;

  @include breakpoint("large") {
    @include typecsset-font-size($typecsset-h4-size);
    line-height: 1.5;
  }
}
