<footer class="footer dark-bg">
  <div class="content">
    <div class="grid grid--gutters2x">
      <div class="grid-cell" role="contentinfo">
        <h5 class="name"><a href="/">Nic <b>Marson</b></a></h5>
        <div class="social">
          <a href="http://github.com/nicmarson/" class="social"><i class="typcn typcn-social-github"></i> <span class="sr-only">Github</span></a>
          <a href="http://twitter.com/nicmarson/" class="social"><i class="typcn typcn-social-twitter"></i> <span class="sr-only">Twitter</span></a>
          <a href="http://www.linkedin.com/in/nicmarson" class="social"><i class="typcn typcn-social-linkedin"></i> <span class="sr-only">LinkedIn</span></a>
          <a href="http://www.facebook.com/nicmarson" class="social"><i class="typcn typcn-social-facebook"></i> <span class="sr-only">Facebook</span></a>
        </div>
      </div>
      <aside class="grid-cell" role="complementary">
        <ul>
          <li>
            <h6>Developer</h6>
            <p>I write adaptive code for dynamic environments.</p>
          </li>
          <li>
            <h6>Designer</h6>
            <p>I design UI interfaces based on user research.</p>
          </li>
          <li>
            <h6>Automator</h6>
            <p>I improve workplace efficiency.</p>
          </li>
        </ul>
        <p class="copyright"><span>Nic <b>Marson</b></span> © 2014</p>
      </aside>
    </div>
  </div>
</footer>
