<footer class="footer grid grid--guttersLarge">
  <div class="content">
    <h5 class="name"><a href="/">Nic <b>Marson</b></a></h5>
    <div class="byline grid grid--guttersLarge">
      <div class="grid-cell grid--center">
        <section class="developer">
          <span class="icon typcn typcn-code-outline"></span>
          <h6>Developer</h6>
          <p>I write adaptive code for dynamic environments.</p>
        </section>
      </div>
      <div class="grid-cell grid--center">
        <section class="designer">
          <span class="icon typcn typcn-pencil"></span>
          <h6>Designer</h6>
          <p>I design UI interfaces based on user research.</p>
        </section>
      </div>
      <div class="grid-cell grid--center">
        <section class="automator">
          <span class="icon typcn typcn-cog-outline"></span>
          <h6>Automator</h6>
          <p>I improve workplace efficiency.</p>
        </section>
      </div>
    </div>
    <div class="social">
      <a href="http://github.com/nicmarson/" class="social"><i class="typcn typcn-social-github"></i> <span class="sr-only">Github</span></a>
      <a href="http://twitter.com/nicmarson/" class="social"><i class="typcn typcn-social-twitter"></i> <span class="sr-only">Twitter</span></a>
      <a href="http://www.linkedin.com/in/nicmarson" class="social"><i class="typcn typcn-social-linkedin"></i> <span class="sr-only">LinkedIn</span></a>
      <a href="http://www.facebook.com/nicmarson" class="social"><i class="typcn typcn-social-facebook"></i> <span class="sr-only">Facebook</span></a>
    </div>
    <p class="credit"><span>Nic <b>Marson</b></span> © 2014</p>
  </div>
</footer>
