<div class="page-first flex-item">
  <nav class="site-nav collapse" id="site-nav-collapse">
    <ul class="nav">
      <li {% if page.slug == "home" %} class="active"{% endif %}>
        <a href="/index.html">
          <span>Home</span>
          <i class="icon typcn typcn-home"></i>
        </a>
      </li>
      <li {% if page.slug == "portfolio" %} class="active"{% endif %}>
        <a href="/portfolio.html">
          <span>Portfolio</span>
          <i class="icon typcn typcn-image"></i>
        </a>
      </li>
      <li {% if page.slug == "about" %} class="active"{% endif %}>
        <a href="/about.html" class="tooltip-right">
          <span>About</span>
          <i class="icon typcn typcn-business-card"></i>
        </a>
      </li>
    </ul>
    <h3>Social</h3>
    <ul class="nav">
      <li>
        <a href="mailto:nicmarson@gmail.com" class="social tooltip-right">
          <span>Email <small class="tooltip">nicmarson@gmail.com</small></span>
          <i class="icon typcn typcn-mail"></i>
        </a>
      </li>
      <li>
        <a href="http://github.com/nicmarson/" class="social tooltip-right">
          <span>Github <small class="tooltip">github.com/nicmarson</small></span>
          <i class="icon typcn typcn-social-github"></i>
        </a>
      </li>
      <li>
        <a href="http://twitter.com/nicmarson/" class="social tooltip-right">
          <span>Twitter <small class="tooltip">twitter.com/nicmarson</small></span>
          <i class="icon typcn typcn-social-twitter"></i>
        </a>
      </li>
      <li>
        <a href="http://www.linkedin.com/in/nicmarson" class="social tooltip-right">
          <span>LinkedIn <small class="tooltip">linkedin.com/in/nicmarson</small></span>
          <i class="icon typcn typcn-social-linkedin"></i>
        </a>
      </li>
      <li>
        <a href="http://www.facebook.com/nicmarson" class="social tooltip-right">
          <span>Facebook <small class="tooltip">facebook.com/nicmarson</small></span>
          <i class="icon typcn typcn-social-facebook"></i>
        </a>
      </li>
    </ul>
  </nav>
</div>