<nav class="site-nav collapse" id="site-nav-collapse">
  <ul class="nav">
    <li {% if page.slug == "home" %} class="active"{% endif %}>
      <a href="/index.html">
        <span>Home</span>
      </a>
    </li>
    <li {% if page.slug == "about" %} class="active"{% endif %}>
      <a href="/about.html">
        <span>About</span>
      </a>
    </li>
    <li {% if page.slug == "portfolio" %} class="active"{% endif %}>
      <a href="/portfolio.html">
        <span>Portfolio</span>
      </a>
    </li>
    <li {% if page.slug == "blog" %} class="active"{% endif %}>
      <a href="/blog.html">
        <span>Blog</span>
      </a>
    </li>
    <li {% if page.slug == "inspiration" %} class="active"{% endif %}>
      <a href="/inspiration.html">
        <span>Inspiration</span>
      </a>
    </li>
  </ul>
</nav>