<section id="{{ post.name }}" class="feature feature-portfolio">
  <header>
    <h2 class="feature-title">{{ post.title }}</h2>
    <p class="feature-meta">{{ post.date | date: "%Y" }} {% if post.website %}<span class="divider">•</span> <a href="http://{{ post.website }}" class="external" role="link">{{ post.website }}</a>{% endif %} {% if post.client %}<span class="divider">•</span> {{ post.client }}{% endif %}</p>
  </header>
  <div class="feature-content">
    {% if post.img-ext %}
    <figure class="feature-figure">
      <a href="{{ post.url }}" class="page__open" role="link"><img src="{{ site.url }}/img/portfolio/{{ post.name }}/{{ post.name }}-01.{{ post.img-ext }}" alt="{{ post.thumbalt }}" class="feature-image"></a>
    </figure>
    {% endif %}
    <p class="feature-description"></p>
  </div>
</section>