<div id="{{ post.name }}" class="component__item four__item">
  <a href="{{ post.url }}" class="component__link">
    {% if post.thumb-ext %}<div class="img"><img src="img/portfolio/{{ post.name }}/thumb.{{ post.thumb-ext }}" alt="{{ post.title }} thumbnail"></div>{% endif %}
    <div class="meta" style="background-color: #{{ post.color-dark }}">
      <span class="description">{{ post.date | date: "%Y" }} <b>{{ post.title }}</b></span>
      <span class="title">{% if post.thumb-ext %}{{ post.role }}{% else %}Contractor{% endif %}</span>
      <span class="tags">{{ post.tags | array_to_sentence_string }}</span>
      {% if post.designer || post.developer %}
      <span class="skills">
        <span class="title">My involvement</span>
        {% if post.designer %}<span class="progress">
          <span class="progress-bar show-me animated" role="progressbar" aria-valuenow="{{ post.designer }}" aria-valuemin="0" aria-valuemax="{{ post.designer }}" style="width: {{ post.designer }}%;">
            {{ post.designer }}% Design
          </span>
        </span>{% endif %}
        {% if post.developer %}<span class="progress">
          <span class="progress-bar show-me animated" role="progressbar" aria-valuenow="{{ post.developer }}" aria-valuemin="0" aria-valuemax="{{ post.developer }}" style="width: {{ post.developer }}%;">
            {{ post.developer }}% Development
          </span>
        </span>{% endif %}
      </span>
      {% endif %}
      {% if post.solo %}<span class="icon-star"><svg class="shape-star" viewBox="0 0 100 100">
        <use xlink:href="#shape-star"/>
      </svg></span>{% endif %}
    </div>
  </a>
</div>
