<div class="container">
  <div class="columns">
    <div class="column is-one-third">
      <dl class="project__list">
        <dt>Team:</dt>
        <dd>Content Strategist, Analytics Lead, Visual Designer, Digital Strategist</dd>
        <dt>Role:</dt>
        <dd>Experience Design Lead</dd>
        <dt>Tasks:</dt>
        <dd>Customer Research, Hypothesis Development, Content Development</dd>
      </dl>
      <div class="project__content content">
        <p>As part of a larger strategy engagement, Puget Sound Energy needed to improve their website customer experience. To validate our research and design changes, we conducted four phases of A/B testing.&nbsp;</p>
      </div>
    </div>
    <div class="column is-two-thirds">
      <div class="project__image">
        <img src="/images/projects/bookreview/home.png">
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="columns">
    <div class="column is-one-third">
      <h3>Logo Design</h3>
    </div>
    <div class="column is-two-thirds">
      <div class="project__image">
        <img src="/images/projects/bookreview/logo-design.png">
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="columns">
    <div class="column is-one-third">
        <h3>Hero Design</h3>
    </div>
    <div class="column is-two-thirds">
      <div class="project__image">
        <img src="/images/projects/bookreview/hero-design.png">
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="columns">
    <div class="column is-one-third">
        <h3>App Design</h3>
    </div>
    <div class="column is-two-thirds">
      <div class="project__image">
        <img src="/images/projects/bookreview/app.png">
      </div>
    </div>
  </div>
</div>
  