<div class="container">
  <div class="columns">
    <div class="column is-one-third">
      <dl class="project__list">
        <dt>Role:</dt>
        <dd>Creative Director</dd>
        <dt>Tasks:</dt>
        <dd>Content, Design, Styles, Templates, JavaScript, Research</dd>
      </dl>
      <div class="project__content content">
        <p>Reviews are tightly linked to an author's success, but they are notoriously difficult to receive. This tool is based on the assumption that readers want to leave reviews, but they are difficult to write. The purpose of this tool is to provide is clear and simple method for a reader to critically evaluate the book through a series of relevant questions.</p>
      </div>
    </div>
    <div class="column is-two-thirds">
      <div class="project__image">
        <img src="/images/projects/bookreview/home.png">
      </div>
    </div>
  </div>
</div>
<div class="container"><hr></div>
<div class="container">
  <div class="columns">
    <div class="column is-one-third">
      <h3>Logo Design</h3>
    </div>
    <div class="column is-two-thirds">
      <div class="project__image">
        <img src="/images/projects/bookreview/logo-design.png">
      </div>
    </div>
  </div>
</div>
<div class="container"><hr></div>
<div class="container">
  <div class="columns">
    <div class="column is-one-third">
        <h3>Hero Design</h3>
    </div>
    <div class="column is-two-thirds">
      <div class="project__image">
        <img src="/images/projects/bookreview/hero-design.png">
      </div>
    </div>
  </div>
</div>
<div class="container"><hr></div>
<div class="container">
  <div class="columns">
    <div class="column is-one-third">
        <h3>App Design</h3>
    </div>
    <div class="column is-two-thirds">
      <div class="project__image">
        <img src="/images/projects/bookreview/app.png">
      </div>
    </div>
  </div>
</div>
  