<div class="container">
  <div class="tabs is-centered is-boxed">
    <ul>
      <li class="is-active">
        <a href="#tab-one">
          <span>Details</span>
        </a>
      </li>
      <li>
        <a href="#tab-two">
          <span>Storyframe</span>
        </a>
      </li>
      <li>
        <a href="#tab-three">
          <span>Research</span>
        </a>
      </li>
      <li>
        <a href="#tab-four">
          <span>Analysis</span>
        </a>
      </li>
      <li>
        <a href="#tab-five">
          <span>Design</span>
        </a>
      </li>
      <li>
        <a href="#tab-six">
          <span>Validation</span>
        </a>
      </li>
    </ul>
  </div>
</div>
<div class="container">
  <section class="tab-content content" id="tab-one">
    <div class="columns">
      <div class="column is-one-third">
        <dl class="project__list">
          <dt>Role:</dt>
          <dd>Creative Director</dd>
          <dt>Tasks:</dt>
          <dd>Content, Design, Styles, Templates, JavaScript, Research</dd>
          <dt>Definition:</dt>
          <dd>Reviews are tightly linked to an author's success, but they are notoriously difficult to receive. This tool is
            based on the assumption that readers want to leave reviews, but they are difficult to write. The purpose of this
            tool is to provide is clear and simple method for a reader to critically evaluate the book through a series of
            relevant questions.</dd>
        </dl>
      </div>
      <div class="column is-two-thirds">
        <div class="project__image">
          <img src="/images/projects/bookreview/home.png">
        </div>
      </div>
    </div>
  </section>
  <section class="tab-content content" id="tab-two">
    <div class="columns">
      <div class="column is-half">
        <div class="heading">Home Page</div>
        <h1>Write great book reviews.</h1>
        <p>Start reviewing, it's free!</p>
        <h2>How it works</h2>
        <p>Whether you've written one book review, or a thousand, BookReview can help.</p>
        <p>BookReview takes you through a series of intuitive questions to help you develop your content and provide an accurate final rating for the book you are reviewing. We provide the most concise and functional way to write your reviews.</p>
        <div class="heading">Application</div>
        <h1>QUESTION 1</h1>
        <p>Did you complete the book?</p>
        <p>Yes/No</p>
        <h1>QUESTION 2</h1>
        <p>Did you receive a free copy?</p>
        <p>Yes/No</p>
        <h1>QUESTION 3</h1>
        <p>Do you have a relationship with the author?</p>
        <p>Yes/No</p>
        <h1>QUESTION 4</h1>
        <p>How much did you enjoy this book?</p>
        <p>Rating 1-5</p>
      </div>
    </div>
  </section>
  <section class="tab-content content" id="tab-three">
    <div class="columns">
      <div class="column is-one-third">
        <p>Once the product idea is defined, product research (which naturally includes user and market research) provides the
          other half of the foundation for great design. Good research informs your product and the fact that it comes early
          in design process save a lot of resources (time and money) further down the road (as fewer adjustments will need
          to be made).</p>
        <p>The product research phase is probably the most variable between projects — the phase varies based on the complexity
          of the product, timing, available resources and many other factors. This phase can include:</p>
        <ul>
          <li><strong>Individual in-depth interviews (or IDI):</strong> A great product experience starts with a good understanding of the users.
            Not only do UX designers want to know who their users are, but designers want to dive deeper into their needs,
            fears, motivations, and behavior.</li>
          <li><strong>Competitive research:</strong> A comprehensive analysis of competitor products maps out their existing features in a comparable
            way. Research helps UX designers understand industry standards and identify opportunities for the product in a
            given area.
          </li>
        </ul>
      </div>
    </div>
  </section>
  <section class="tab-content content" id="tab-four">
    <div class="columns">
      <div class="column is-one-third">
        <p>The aim of the Analysis phase is to draw insights from data collected during the Product Research phase. Capturing,
          organizing and making inferences from the “what” users want/think/need can help UX designers begin to understand
          the “why” they want/think/need that. During this phase, designers confirm that the most important assumptions being
          made are valid.</p>
        <p>This phase usually includes:</p>
      </div>
    </div>
    <hr>
    <div class="columns">
      <div class="column is-one-third">
        <p><strong>Create hypothetical personas:</strong> Personas are fictional characters created to represent the different user types that
            might use a product in a similar way. The purpose of personas is to create reliable and realistic representations
            of the key audience segments for reference.</p>
      </div>
      <div class="column is-two-thirds">
        <div class="project__image">
          <figure>
            <img src="/images/projects/bookreview/persona.png">
            <figcaption>Designers build the product bases on personas. Personas make it easier for designers to create empathy with users
              throughout the design process.</figcaption>
          </figure>
        </div>
      </div>
    </div>
    <hr>
    <div class="columns">
      <div class="column is-one-third">
        <p><strong>Create experience maps:</strong> An experience map is an important design tool to understand the product/service interactions from users’ point of view. An experience map is basically a visual representation that illustrates user flow within a product/service. A basic experience map just follows one path (one user, one goal, one scenario) even when the product/service allows multiple path variations.</p>
      </div>
      <div class="column is-two-thirds">
        <div class="project__image">
          <figure>
            <img src="/images/projects/bookreview/experience.png">
            <figcaption>This simple experience map demonstrates one possible path during one scenario. Image credit: Effectiveui</figcaption>
          </figure>
        </div>
      </div>
    </div>
  </section>
  <section class="tab-content content" id="tab-five">
    <div class="columns">
      <div class="column is-one-third">
        <p>When user expectations from the product are established (it’s clear what their goals are and how they like to operate with it), UX designers move to the design phase. An effective design phase is both highly collaborative (it requires input from all team players involved in product development) and iterative (meaning that it cycles back upon itself to validate ideas and assumptions).</p>
        <p>This design phase usually includes:</p>
      </div>
    </div>
    <hr>
    <div class="columns">
      <div class="column is-one-third">
        <p><strong>Sketching:</strong> Sketching is the easiest way of visualizing our ideas. Drawing by hand is also the fastest way to visualize a concept — it allows the designer to visualize a broad range of design solutions before deciding which one to stick with.</p>
      </div>
      <div class="column is-two-thirds">
        <div class="project__image">
          <figure>
            <img src="/images/projects/bookreview/sketch.jpg">
            <figcaption>Sketching is a useful tool for validating product concepts and design approaches both with team members and users. Image credit: David Sleight</figcaption>
          </figure>
        </div>
      </div>
    </div>
    <hr>
    <div class="columns">
      <div class="column is-one-third">
        <p><strong>Create wireframes:</strong> A wireframe is a visual guide that represents the page structure (hierarchy and key elements). Wireframing acts as the backbone of the product — designers often use them as the skeletons for mockups.</p>
      </div>
      <div class="column is-two-thirds">
        <div class="project__image">
          <figure>
            <img src="/images/projects/bookreview/wireframing.png">
            <figcaption>Designers often use wireframes as the skeletons for mockups</figcaption>
          </figure>
        </div>
      </div>
    </div>
    <hr>
    <div class="columns">
      <div class="column is-one-third">
        <p><strong>Create prototypes:</strong> If wireframes are mostly about structure and visual hierarchy (look), then prototypes are about interaction experience from it (both look and feel). A prototype is a simulation of the product, commonly using clickable wireframes.</p>
      </div>
      <div class="column is-two-thirds">
        <div class="project__image">
          <figure>
            <img src="/images/projects/bookreview/prototype.png">
            <figcaption>High-fidelity prototype in Adobe XD show interaction and aesthetics</figcaption>
          </figure>
        </div>
      </div>
    </div>
    <hr>
    <div class="columns">
      <div class="column is-one-third">
        <p><strong>Create a design specification:</strong> Design specifications usually consist of user flow and task flow diagrams which outline the functionality and style requirements of the product. Design specifications describe the processes and graphical assets needed to make a working product.</p>
      </div>
    </div>
    <hr>
    <div class="columns">
      <div class="column is-one-third">
        <h3>Logo Design</h3>
      </div>
      <div class="column is-two-thirds">
        <div class="project__image">
          <img src="/images/projects/bookreview/logo-design.png">
        </div>
      </div>
    </div>
    <hr>
    <div class="columns">
      <div class="column is-one-third">
        <h3>Hero Design</h3>
      </div>
      <div class="column is-two-thirds">
        <div class="project__image">
          <img src="/images/projects/bookreview/hero-design.png">
        </div>
      </div>
    </div>
    <hr>
    <div class="columns">
      <div class="column is-one-third">
        <h3>App Design</h3>
      </div>
      <div class="column is-two-thirds">
        <div class="project__image">
          <img src="/images/projects/bookreview/app.png">
        </div>
      </div>
    </div>
  </section>
  <section class="tab-content content" id="tab-six">
    <div class="columns">
      <div class="column is-one-third">
        <p>Usually, the validation phase starts when the high-fidelity design is fleshed out. A product is validated with stakeholders and end-users through the series of user testing sessions.</p>
        <p>Similar to the product research phase, this phase is also variable between projects. Validation phase can include:</p>
        <ul>
          <li><strong>“Eat your own dogfood:”</strong> Once the design team has iterated the product to the point where it’s usable, testing it with the product team is a great low-cost validation technique.</li>
          <li><strong>User testing sessions:</strong> User testing sessions serve as a validation of design, based on tests with real users.User testing sessions have a lot of forms, some of the most popular are usability testing, focus groups, beta testing, A/B testing, and surveys.</li>
          <li><strong>Create user diaries:</strong> User diaries are great at capturing an information from real-world users. Using Google Docs, UX designers can create a simple template and then include open-ended questions such as: Where were you when using the product? What tasks did you hope to achieve? Do you have something that frustrated you?</li>
          <li><strong>Metrics analysis:</strong> Numbers provided by an analytics tool about how a user interacts with your product: clicks, navigation time, search queries etc. Metrics can also “uncover the unexpected”, surfacing behaviors that are not explicit in user tests.</li>
          <li><strong>Working with feedback from users:</strong> Feedback data such as support tickets, bug reports, and other analytics are able to drive product refinement.</li>
        </ul>
      </div>
    </div>
  </section>
  <div class="content">
    <p style="margin:3rem 0 1rem">Some content from <a href="https://medium.com/thinking-design/ux-process-what-it-is-what-it-looks-like-and-why-its-important-290640e69531">UX Process - What it is, what it looks like, and why it's important</a></p>
  </div>
</div>
