<div class="container">
  <div class="columns">
    <div class="column is-one-third">
      <dl class="projectModal__list">
        <dt>Team:</dt>
        <dd>Content Strategist, Analytics Lead, Visual Designer, Digital Strategist</dd>
        <dt>Role:</dt>
        <dd>Experience Design Lead</dd>
        <dt>Tasks:</dt>
        <dd>Customer Research, Hypothesis Development, Content Development</dd>
      </dl>
      <div class="projectModal__content content">
        <p>As part of a larger strategy engagement, Puget Sound Energy needed to improve their website customer experience. To validate our research and design changes, we conducted four phases of A/B testing.&nbsp;</p>
      </div>
    </div>
    <div class="column is-two-thirds">
      <div class="projectModal__image">
          <img src="/images/projects/pse/contact.png">
      </div>
    </div>
  </div>
</div>
