<div class="container">
  <div class="columns">
    <div class="column is-one-third">
      <dl class="project__list">
        <dt>Role:</dt>
        <dd>UX Developer</dd>
        <dt>Tasks:</dt>
        <dd>UX Research and Design, CMS Content and View Manager, UI Development</dd>
      </dl>
      <div class="project__content content">
        <p>Our goal was to redesign and rebuild the Regence, Asuris, and BridgeSpan sites under portal system. As health insurance companies, accessibility was a top goal, and design choices were always evaluated through user testing campaigns.</p>
      </div>
    </div>
    <div class="column is-two-thirds">
      <div class="project__image">
        <img src="/images/projects/regence/regence-01.png">
      </div>
    </div>
  </div>
</div>
<div class="container"><hr></div>
<div class="container">
  <div class="columns">
    <div class="column is-one-third">
      <div class="project__content content">
        <p>We created a robust search and browse system with content for each audience and custom-tailored based on user personas.</p>
      </div>
    </div>
    <div class="column is-two-thirds">
      <div class="project__image">
        <img src="/images/projects/regence/regence-02.png">
      </div>
    </div>
  </div>
</div>
<div class="container"><hr></div>
<div class="container">
  <div class="columns">
    <div class="column is-one-third">
      <div class="project__content content">
        <p>Designers and developers worked as one to develop each page within the scope of the Liferay portal system.</p>
      </div>
    </div>
    <div class="column is-two-thirds">
      <div class="project__image">
        <img src="/images/projects/regence/regence-11.png">
      </div>
    </div>
  </div>
</div>
<div class="container"><hr></div>
<div class="container">
  <div class="columns">
    <div class="column is-one-third">
      <div class="project__content content">
        <p>As a result, we created a more user-focused experience than what people have come to expect from a health insurance company.</p>
      </div>
    </div>
    <div class="column is-two-thirds">
      <div class="project__image">
        <img src="/images/projects/regence/regence-10.png">
      </div>
    </div>
  </div>
</div>
