<div class="container">
  <div class="columns">
    <div class="column is-one-third">
      <dl class="project__list">
        <dt>Role:</dt>
        <dd>UI Developer</dd>
        <dt>Tasks:</dt>
        <dd>Writing, Design, UI Development</dd>
      </dl>
      <div class="project__content content">
        <p>We were tasked with the design and development of a marketing site for the WebINK font rental service.</p>
      </div>
    </div>
    <div class="column is-two-thirds">
      <div class="project__image">
          <img src="/images/projects/webink/webink-01.png">
      </div>
    </div>
  </div>
</div>
<div class="container"><hr></div>
<div class="container">
  <div class="columns">
    <div class="column is-one-third">
      <div class="project__content content">
        <p>A list of fonts was provided from a Java service and organized into a list which could be searched or browsed.</p>
      </div>
    </div>
    <div class="column is-two-thirds">
      <div class="project__image">
          <img src="/images/projects/webink/webink-02.png">
      </div>
    </div>
  </div>
</div>
<div class="container"><hr></div>
<div class="container">
  <div class="columns">
    <div class="column is-one-third">
      <div class="project__content content">
        <p>Typefaces samples could be customized and changed. Details on each font were plentiful.</p>
      </div>
    </div>
    <div class="column is-two-thirds">
      <div class="project__image">
          <img src="/images/projects/webink/webink-08.png">
      </div>
    </div>
  </div>
</div>
<div class="container"><hr></div>
<div class="container">
  <div class="columns">
    <div class="column is-one-third">
      <div class="project__content content">
        <p>I outlined the entire process into a tour page.</p>
      </div>
    </div>
    <div class="column is-two-thirds">
      <div class="project__image">
          <img src="/images/projects/webink/webink-03.png">
      </div>
    </div>
  </div>
</div>
<div class="container"><hr></div>
<div class="container">
  <div class="columns">
    <div class="column is-one-third">
      <div class="project__content content">
        <p>We kept a showcase of sites using the WebINK service.</p>
      </div>
    </div>
    <div class="column is-two-thirds">
      <div class="project__image">
          <img src="/images/projects/webink/webink-04.png">
      </div>
    </div>
  </div>
</div>
<div class="container"><hr></div>
<div class="container">
  <div class="columns">
    <div class="column is-one-third">
      <div class="project__content content">
        <p>Users kept and maintained a "Type Drawer" to integrate into their sites.</p>
      </div>
    </div>
    <div class="column is-two-thirds">
      <div class="project__image">
          <img src="/images/projects/webink/webink-06.png">
      </div>
    </div>
  </div>
</div>
