//== Fonts
//
//## Font, line-height, and color for body text, headings, and more.

$font-family-lato: "Lato", sans-serif !default;

// Font definitions
$font-family-serif      : "Book Antiqua", Palatino, Georgia, serif;
$font-family-sans-serif : $font-family-lato;
$font-family-monospace  : Consolas, monaco, monospace;

// Font assignments
$base-font-family       : $font-family-sans-serif;
$text-font-family       : $font-family-serif;
$control-font-family    : $font-family-sans-serif;
$code-font-family       : $font-family-monospace;
$heading-font-family    : $font-family-sans-serif;
