$radius: (
  default: 5px,
  small: 3px,
  medium: 8px,
  large: 12px
);

// .element {
//   border-radius: radius(large);
//   border-radius: (radius(default) + 1);
//   border-radius: (radius(default) - 1);
// }
