<div class="projectYear">
  <div class="container">
    <div class="columns">
      <div class="column is-one-quarter">
        <div class="meta">Employed by: <strong>Instrument</strong></div>
        <div class="meta__title">2014</div>
        <ul class="projectYear__list">
          <li>Agency</li>
          <li>Sketch</li>
          <li>Magento</li>
          <li>Animations</li>
          <li>Middleman</li>
        </ul>
      </div>
      <div class="column is-three-quarters">
        <div class="columns">
          <div class="column">
            <a class="projectThumb projectThumb--1" href="#projectModal42" data-lity>
              <figure class="image">
                <img src="images/projects/android/home.png">
              </figure>
            </a>
            <a class="projectLink projectLink--1" href="https://www.android.com/">Android</a>
          </div>
          <div class="column">
            <a class="projectThumb projectThumb--2" href="#projectModal41" data-lity>
              <figure class="image">
                <img src="images/projects/stumptown/home.png">
              </figure>
            </a>
            <a class="projectLink projectLink--2" href="https://www.stumptowncoffee.com/">Stumptown</a>
          </div>
          <div class="column">
            <a class="projectThumb projectThumb--3" href="#projectModal40" data-lity>
              <figure class="image">
                <img src="images/projects/alternative_apparel/home.png">
              </figure>
            </a>
            <a class="projectLink projectLink--3" href="http://www.alternativeapparel.com/">Alternative Apparel</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>