<div class="projectYear bg--alt">
  <div class="container">
    <div class="columns">
      <div class="column is-one-quarter">
        <div class="meta">Employed by: <strong>ConnectiveDX</strong></div>
        <div class="meta__title">2015</div>
        <ul class="projectYear__list">
          <li>Gulp</li>
          <li>Sitecore</li>
          <li>JavaScript</li>
          <li>CSS/SASS</li>
          <li>UX Design</li>
          <li>Digital Strategy</li>
          <li>Enterprise Level</li>
        </ul>
      </div>
      <div class="column is-three-quarters">
        <div class="columns">
          <div class="column is-one-third">
            <a class="projectThumb projectThumb--1" href="#projectModal44" data-lity>
              <figure class="image">
                <img src="images/projects/bmc/home.png">
              </figure>
            </a>
            <a class="projectLink projectLink--1" href="http://www.bmc.com/">BMC</a>
          </div>
          <div class="column is-one-third">
            <a class="projectThumb projectThumb--2" href="#projectModal43" data-lity>
              <figure class="image">
                <img src="images/projects/setf/home.png">
              </figure>
            </a>
            <a class="projectLink projectLink--2" href="https://www.setf.com/">SETF</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>