<div class="projectYear">
  <div class="container">
    <div class="columns">
      <div class="column is-one-quarter">
        <div class="meta">Employed by: <strong>ConnectiveDX</strong></div>
        <div class="meta__title">2016</div>
        <ul class="projectYear__list">
          <li>Ember.js</li>
          <li>WebPack</li>
          <li>User Testing</li>
          <li>Google Maps API</li>
          <li>Creative Direction</li>
        </ul>
      </div>
      <div class="column is-three-quarters">
        <div class="columns">
          <div class="column">
            <a class="projectThumb projectThumb--1" href="#projectModal47" data-lity>
              <figure class="image">
                <img src="images/projects/spectrum_health/home.png">
              </figure>
            </a>
            <a class="projectLink projectLink--1" href="http://www.spectrumhealth.org/">Spectrum Health</a>
          </div>
          <div class="column">
            <a class="projectThumb projectThumb--2" href="#projectModal46" data-lity>
              <figure class="image">
                <img src="images/projects/dexcom/home.png">
              </figure>
            </a>
            <a class="projectLink projectLink--2" href="https://www.dexcom.com/">Dexcom: SweetSpot</a>
          </div>
          <div class="column">
            <a class="projectThumb projectThumb--3" href="#projectModal45" data-lity>
              <figure class="image">
                <img src="images/projects/pse/home.png">
              </figure>
            </a>
            <a class="projectLink projectLink--3" href="https://pse.com/accountsandservices/StartStopService/Pages/default.aspx">PSE: Start, Stop or Move</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>