<div class="projectYear">
  <div class="container">
    <h2 class="projectYear__header">Case Studies</h2>
    <div class="columns">
      <div class="column">
        <a class="projectThumb" href="/projects/bookreview/">
          <figure class="image">
            <img src="images/projects/bookreview/thumb.png">
          </figure>
          <p class="projectTitle">BookReview Web Application</p>
        </a>
      </div>
      <div class="column">
        <a class="projectThumb" href="/projects/pse/">
          <figure class="image">
            <img src="images/projects/pse/thumb.png">
          </figure>
          <p class="projectTitle">PSE Form</p>
        </a>
      </div>
      <div class="column">
        <a class="projectThumb" href="/projects/regence/">
          <figure class="image">
            <img src="images/projects/regence/thumb.jpg">
          </figure>
          <p class="projectTitle">Regence Web Portal</p>
        </a>
      </div>
      <div class="column">
        <a class="projectThumb" href="/projects/webink/">
          <figure class="image">
            <img src="images/projects/webink/thumb.jpg" alt="WebINK thumbnail">
          </figure>
          <p class="projectTitle">WebINK Web Application</p>
        </a>
      </div>
    </div>
  </div>
</div>