$breakpoints: (
  "(min-width: 740px)" "small",
  "(min-width: 741px)" "medium",
  "(min-width: 80rem)" "large"
);

@mixin breakpoint($point) {
  @each $breakpoint in $breakpoints {
    $query: nth($breakpoint, 1);
    $name: nth($breakpoint, 2);
    @if ($name == $point) {
      @media #{$query} { @content }
    }
  }
}
