// Contact and social network links in footer
.connect {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;

  a {
    font-size: 2vmin;
    margin: 0 .125em;

    @include mq($from: tablet) {
      font-size: 3vmin;
    }

    @include mq($from: desktop) {
      font-size: 4vmin;
    }

    &:focus,
    &:hover {
      color: $white;

      .tooltip--top {
        bottom: calc(4vmin + 10px);
        left: 50%;
        opacity: 1;
        transition-delay: .15s, 0;
        transition-duration: .3s;
        transition-property: opacity, bottom;
        transition-timing-function: ease-in-out;

        @include mq($from: tablet) {
          bottom: calc(6vmin + 10px);
        }

        @include mq($from: desktop) {
          bottom: calc(8vmin + 10px);
        }
      }
    }
  }

  .tooltip--top {
    bottom: 10em;
    display: block;
    font-size: 12px;
    left: -10000px;
    min-width: 148px;
    opacity: 0;
    padding: 20px;
    text-align: center;

    $tooltip-arrow-size: 10px;

    &:after {
      border-right: $tooltip-arrow-size solid transparent;
      border-left: $tooltip-arrow-size solid transparent;
      border-top: $tooltip-arrow-size solid;
      bottom: -$tooltip-arrow-size+1px;
    }

    span {
      display: block;
    }

    svg {
      fill: $white;
      margin: 10px auto 20px;
      width: 64px;
    }
  }

  .linkedin {

    &:hover,
    small {
      background-color: $linkedin;
    }

    small::after {
      border-top-color: $linkedin;
    }
  }

  .twitter {

    &:hover,
    small {
      background-color: $twitter;
    }

    small::after {
      border-top-color: $twitter;
    }
  }

  .facebook {

    &:hover,
    small {
      background-color: $facebook;
    }

    small::after {
      border-top-color: $facebook;
    }
  }

  .pinterest {

    &:hover,
    small {
      background-color: $pinterest;
    }

    small::after {
      border-top-color: $pinterest;
    }
  }

  .github {

    &:hover,
    small {
      background-color: $github;
    }

    small::after {
      border-top-color: $github;
    }
  }

  .kippt {

    &:hover,
    small {
      background-color: $kippt;
    }

    small::after {
      border-top-color: $kippt;
    }
  }

  .googleplus {

    &:hover,
    small {
      background-color: $googleplus;
    }

    small::after {
      border-top-color: $googleplus;
    }
  }

  .phone,
  .email {

    &:hover,
    small {
      background-color: palette(grey, darker);
    }

    small::after {
      border-top-color: palette(grey, darker);
    }
  }
}

// override default nav styles
.connect.connect a:focus,
.connect.connect a:hover {
  color: $white;

  svg {
    fill: $white;
  }
}
