// control web font visibility
.wf-loading {

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    visibility: hidden;
  }
}

.wf-active,
.wf-inactive {

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    visibility: visible;
  }
}

.overlay {
  background-color: rgba(143, 158, 139, .5);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 98;
}
