//////////////////////////////////////
// navigation links on detail page
//////////////////////////////////////
.pagination {

  a,
  span {
    display: block;
  }

  .title--header {
    max-width: 100%;
  }

  .item a {
    padding-bottom: 50%;
  }

  .previous {
    margin-bottom: 1.5em;
  }

  @include mq($from: triple) {
    .next-text {
      text-align: right;
    }

    .previous {
      margin-bottom: 0;
    }
  }
}
