.thumb-grid,
.clip-grid {

  .come-in {
    animation: come-in-margin-top 1.5s ease forwards;
    margin-top: 150px;
  }

  // stagger the animation
  .come-in:nth-child(odd) {
    animation-duration: 0.75s;
  }
}

.progress {

  .come-in {
    animation: come-in-margin-left 1.25s ease forwards;
    margin-left: -100%;
  }
}

@keyframes come-in-margin-top {
  to { margin-top: 0; }
}

@keyframes come-in-margin-left {
  to { margin-left: 0; }
}
