/*.ink styles - the elements which will create the ripple effect. The size and position of these elements will be set by the JS code. Initially these elements will be scaled down to 0% and later animated to large fading circles on user click.*/
.ink {
  border-radius: 100%;
  display: block;
  position: absolute;
  transform: scale(0);
  z-index: z(overlay);
}

/*animation effect*/
.ink.animate {
  animation: ripple 0.65s linear;
}
