//////////////////////////////////////////////////
// Zoom effect
//////////////////////////////////////////////////

.zoom {
  display: block;
  overflow: hidden;
  position: relative;

  .aspect-ratio {
    padding-bottom: 100%;

    @include mq($from: double) {
      padding-bottom: 75%;
    }

    @include mq($from: triple) {
      padding-bottom: 50%;
    }
  }
}

.zoom-container {
  backface-visibility: hidden;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;

  > a {
    bottom: 0;
    color: $white;
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    text-indent: -999em;
    top: 0;
  }
}

// prepare transitions
.zoom-out,
.zoom-in,
.zoom-in::before,
.zoom-image {
  @extend %transition-fast;
  will-change: opacity, transform;
}

.zoom-out {
  opacity: 1;
}

.zoom-in {
  height: 100%;
  opacity: 0;
  padding: 2.5rem;
  position: relative;
  transform: scale(1.5);

  &::before {
    border: 1px solid $white;
    content: '';
    pointer-events: none;
    position: absolute;
    top: 1rem;
    right: 1rem;
    bottom: 1rem;
    left: 1rem;
    opacity: 0;
    transform: scale(1.1);
  }
}

.zoom-image {
  display: block;
  min-height: 100%;
  opacity: .85;
  transform: scale(1.12);
  width: 100%;
}

.zoom-title {
  @extend %text-block;
  @extend %text-white-border;
  padding: 1em;
  text-transform: uppercase;
}

.zoom-excerpt {
  font-size: 1.125rem;

  @include mq($from: triple) {
    font-size: 1.5rem;
  }
}

// Hover effects
.zoom:hover {

  .zoom-out {
    opacity: 0;
  }

  .zoom-in,
  .zoom-in::before {
    opacity: 1;
    transform: scale(1);
  }

  .zoom-image {
    opacity: .25;
    transform: scale(1);
  }
}
