/*------------------------------------*\
    #BASE
\*------------------------------------*/
/**
 * 1. Set the base element’s `font-size` to the value of your choosing. Set in
 *    ems, assuming a browser default of 16px.
 * 2. Work out the unitless `line-height` for your project based around your
 *    desired `line-height` (defined previously in pixels), and your project’s
 *    base font size.
 */

@if $typecsset-show-baseline == true {
/**
 * 3. If you have chosen to display a baseline grid, we turn it on here.
 */
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  background-color: $bg-color;
  color: $color-text;
  font-family: $font-family-base;
  font-size: $typecsset-base-font-size / 16px + em; /* [1] */
  letter-spacing: -.02em;
  line-height: $typecsset-base-line-height / $typecsset-base-font-size; /* [2] */
  margin: 0;
  min-width: 320px;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  // Ala Trent Walton
  // http://trentwalton.com/2011/09/07/css-hyphenation
  @include hyphens(auto);

  @include breakpoint("medium") {
    padding-top: 50px;
  }
}

.home {
  @include breakpoint("medium") {
    padding-top: 0;
  }
}

main {
  flex: 1;
}

a {
  color: $link-color;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $link-hover-color;
  }

  &:visited {
    color: $link-visited-color;
  }
}

a[role="link"] {
  border-bottom: 0.0625rem dotted $link-color;

  &:hover,
  &:focus {
    border-bottom-color: $link-hover-color;
    border-bottom-style: solid;
  }

  &:visited {
    border-bottom-color: $link-visited-color;
  }
}

abbr,
acronym,
blockquote,
code,
dir,
kbd,
listing,
plaintext,
q,
samp,
tt,
var,
xmp {
  // http://meyerweb.com/eric/thoughts/2012/12/17/where-to-avoid-css-hyphenation
  @include hyphens(none);
}

abbr {
  @include smallcaps($small-caps-color, $small-caps-weight);
  &:hover {
    cursor: help;
  }
}
