/*------------------------------------*\
  #HEADINGS
\*------------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-weight: $heading-weight;
  font-kerning: normal;
}

h1 {
  @extend %typecsset-vertical-rhythm;
  @include typecsset-font-size($typecsset-h1-size);
}

h2 {
  @extend %typecsset-vertical-rhythm;
  @include typecsset-font-size($typecsset-h2-size);
}

h3 {
  @extend %typecsset-vertical-rhythm;
  @include typecsset-font-size($typecsset-h3-size);
}

h4 {
  @extend %typecsset-vertical-rhythm;
  @include typecsset-font-size($typecsset-h4-size);
}

h5 {
  @extend %typecsset-vertical-rhythm;
  @include typecsset-font-size($typecsset-h5-size);
}

h6 {
  @extend %typecsset-vertical-rhythm;
  @include typecsset-font-size($typecsset-h6-size);
}

.title {
  a,
  a[role="link"] {
    border-bottom-color: inherit;
    color: inherit;

    &:visited {
      color: inherit;
    }

    &:hover,
    &:focus {
      color: #000;
    }
  }
}

.section-title,
.breakdown-title {
  @extend %fat-skinny;
  border-bottom: 2px solid $color-gray;
  display: block;
  font-family: $font-family-sans-serif;
  font-size: 1rem;
  letter-spacing: .06em;
  line-height: 1.5;
  text-transform: uppercase;
  white-space: nowrap;
}

.section-title {
  margin-bottom: 2em;
  padding-bottom: 1px;
}

.breakdown-title {
  border-bottom-color: $color-gray-light;
  border-bottom-width: 4px;
  margin-bottom: 1.5em;
  padding-bottom: 2px;
}
