/*------------------------------------*\
  #HEADINGS
\*------------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-serif;
  font-kerning: normal;
}

h1 {
  @extend %typecsset-vertical-rhythm;
  @include typecsset-font-size($typecsset-h1-size);
}

h2 {
  @extend %typecsset-vertical-rhythm;
  @include typecsset-font-size($typecsset-h2-size);
}

h3 {
  @extend %typecsset-vertical-rhythm;
  @include typecsset-font-size($typecsset-h3-size);
}

h4 {
  @extend %typecsset-vertical-rhythm;
  @include typecsset-font-size($typecsset-h4-size);
}

h5 {
  @extend %typecsset-vertical-rhythm;
  @include typecsset-font-size($typecsset-h5-size);
}

h6 {
  @extend %typecsset-vertical-rhythm;
  @include typecsset-font-size($typecsset-h6-size);
}

.title {
  a,
  a[role="link"] {
    border-bottom: none;
    color: $color-gray-dark;

    &:hover,
    &:focus,
    &:visited {
      border-bottom: none;
      color: #000;
    }
  }
}

.article-title,
.section-title {
  font-family: $font-family-sans-serif;
  @include typecsset-font-size($typecsset-h5-size);
  font-weight: 700;
  letter-spacing: .06em;
  text-transform: uppercase;
  white-space: nowrap;
}

.name {
  font-family: $font-family-sans-serif;
  text-transform: uppercase;
}