/*------------------------------------*\
    #SPECIAL
\*------------------------------------*/


small,
.u-smaller {
  @extend %small-text;
}

big,
.u-bigger,
.lead {
  @extend %large-text;
}

.muted {
  color: $color-muted;
}

.name {
  @extend %fat-skinny;
  font-family: $font-family-sans-serif;
  text-transform: uppercase;
}
